﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsMtCommunicationType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descriptions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descriptions)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComID })
        </td>
    </tr>
}

</table>
