﻿
@{
    ViewBag.Title = "_Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Download From System</h2>

@if (!string.IsNullOrEmpty(@ViewBag.isInsalled))
{
    <script type="text/javascript">
        if (ViewBag.isInsalled == "true") {
            $(document).ready(function () {
                if ($("#dialog").dialog("isOpen")) {
                    $("#dialog").dialog("close");
                }
            });
        }
    </script>
}

<div class="container" style="height:500px !important;">

    <div style="margin-top:20px;margin-bottom:20px;">
        Download From System
    </div>
    <div>
        @if (string.IsNullOrEmpty(@ViewBag.MachineID))
        {
            <input type="button" id="btnDialog" value="Download" class="btn-default btn customfontcolor" />
        }
        else
        {
            <p>Already installed the software for Order ID, Please contact Administrator.</p>
        }
    </div>
</div>

<div id="dialog" title="Form System Installer">
    <div>
        <label class="fontStyle" style="color:black !important">Do you want to proceed with Installation</label>
    </div>
    <div id="main">
        <div id="d1">
            @Html.ActionLink("Yes", "Install", "Installer", new { @class = "btn-default btn customfontcolor" })
        </div>
        <div id="d2">
            <input type="button" id="btnClose" value="No" class="btn-default btn customfontcolor" />
        </div>
    </div>
</div>

<style type="text/css">
    #main {
        position: absolute;
        padding: 0px;
    }

        #main > div {
            float: left;
            margin: 05px;
        }

    #d1 {
        width: auto;
        height: auto;
    }

    #d2 {
        width: auto;
        height: auto;
    }

    .customfontcolor {
        color: whitesmoke !important;
        background-color: #56baed !important;
    }
</style>

@section Scripts {
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                $("#dialog").dialog({
                    resizable: false,
                    autoOpen: false,
                    height: "auto",
                    width: 450,
                    modal: true,
                });
            });

            $("#btnDialog").click(function () {
                $("#dialog").dialog("open");
                return false;
            });

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });

        });
    </script>
}

