﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style type="text/css">
    .fontStyle {
        color: whitesmoke !important;
        font-family: initial;
        font-weight: 100;
        font-size: 20px;
    }

    .whitefont {
        color: whitesmoke !important;
    }

    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#56baed;border-width:0px;border-color:none !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cloud - Form System", "companyDashboard", "demoNoonReports", new { area = "" }, new { @class = "navbar-brand fontStyle" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav" style="font-weight:bold;">

                    @{
                        var myTag = MySession.isAdmin;
                    }
                    @if (myTag)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:whitesmoke"> Crew <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="z-index:101;height:auto">
                            <li>@Html.ActionLink("New Crew", "Create", "Crew")</li>
                            <li>@Html.ActionLink("Crew Details", "Index", "Crew")</li>
                        </ul>
                    </li>
                    }

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:whitesmoke"> Form Systems<b class="caret"></b></a>
                        <ul class="dropdown-menu" style="z-index:101;height:auto;">
                            <li>@Html.ActionLink("Download", "Download", "Installer")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:whitesmoke"> @HttpContext.Current.User.Identity.Name<b class="caret"></b></a>
                        <ul class="dropdown-menu" style="z-index:101;height:auto;">
                            <li>@Html.ActionLink("Logout", "logout", "demoNoonReports", new { area = "" }, null)</li>
                            @*<li>@Html.ActionLink("Setting", "Create", "Crew", new { area = "LDKSatcom" }, null)</li>*@
                        </ul>
                    </li>

                    @*<li>@Html.ActionLink("Create Form", "Create", "Home")</li>
        <li>@Html.ActionLink("Load Form", "Load", "Home")</li>
        <li>@Html.ActionLink("Update Form", "Update", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer class="panel-footer">
            <p>&copy; @DateTime.Now.Year - Cloud - form system</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
