﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Authentication</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    .headfont{
        color:whitesmoke !important;
        font-family:'Times New Roman';
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#56baed;border-width:0px;border-color:none !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="border-color:none !important;" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LDKSatcom", "Login", "demoNoonReports", new { area = "" }, new { @class = "navbar-brand headfont" })
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container body-content" style="background-color:#fff;">
        @RenderBody()
        <hr />
        <footer class="panel-footer">
            <p>&copy; @DateTime.Now.Year - LDKSatcom</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
