﻿@model FormUpdated.Areas.BillingSystem.Models.BPtShip

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BPtShip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BPtShipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipCallSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipCallSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipAAIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipAAIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipMMSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipMMSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipOwrCoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipOwrCoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipBillCoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipBillCoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipDealCoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipDealCoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipIMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipIMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipRegistryPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipRegistryPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipHomePort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipHomePort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipGRT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipGRT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipOWT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipOWT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipBuildYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipBuildYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipSelfPropelled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipSelfPropelled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipNoPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipNoPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipEmergencyCtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipEmergencyCtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipEmergencyCtcTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipEmergencyCtcTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipSuspStDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipSuspStDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipSuspEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipSuspEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipBarStDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipBarStDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShipBarEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShipBarEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCustomer.Customers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ship_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
