﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BPtShip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipCallSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipAAIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipMMSI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipOwrCoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipBillCoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipDealCoCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipIMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipRegistryPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipHomePort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipGRT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipOWT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipBuildYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipSelfPropelled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipNoPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipEmergencyCtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipEmergencyCtcTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipSuspStDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipSuspEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipBarStDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShipBarEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipCallSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipAAIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipMMSI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipOwrCoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipBillCoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipDealCoCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipIMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipRegistryPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipHomePort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipGRT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipOWT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipBuildYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipSelfPropelled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipNoPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipEmergencyCtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipEmergencyCtcTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipSuspStDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipSuspEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipBarStDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShipBarEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusContract.BsPtCusFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ship_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ship_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ship_ID })
        </td>
    </tr>
}

</table>
