﻿
@{
    ViewBag.Title = "Manual Invoice";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .panel-primary {
        width: 1500px;
    }

    .form-control-dd {
        display: inline !important;
        width: auto;
        height: 34px;
        margin: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }
</style>

<div class="container">

    <div class="panel panel-primary" style="height:800px;width:1150px;">
        <div class="panel-heading panel-head">
            Manual Invoices
        </div>

        <div id="progress" class="modal">
            <div class="center" align="center">
                <img src="~/Images/image-loader.gif" class="centerimg" />
            </div>
        </div>

        <div style="padding:10px;">
            @using (Html.BeginForm())
            {
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <td>Invoice No</td>
                            <td>
                                @Html.Editor("txtInvoiceNo", (string)ViewBag.InvoiveNo, new { htmlAttributes = new { @class = "form-control", @Value = (string)ViewBag.InvoiveNo } })
                            </td>
                            <td>Invoice Date</td>
                            <td>
                                @Html.Editor("txtInvoiceDate", (string)ViewBag.InvoiceDate, new { htmlAttributes = new { @class = "form-control", @Value = (string)ViewBag.InvoiceDate } })
                            </td>
                        </tr>
                        <tr>
                            <td>Owners Name</td>
                            <td>
                                @Html.DropDownList("ddlOwners", (IEnumerable<SelectListItem>)ViewBag.Dealers, null, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>SJ Number</td>
                            <td>
                                @Html.Editor("txtSnjNo", "SnjNo", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>Billing Name</td>
                            <td>
                                @Html.DropDownList("ddlCustomers", (IEnumerable<SelectListItem>)ViewBag.Customers, null, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>DO Number</td>
                            <td>
                                @Html.Editor("txtDONo", "DONo", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>Dealer Name</td>
                            <td>
                                @Html.DropDownList("ddlDealers", (IEnumerable<SelectListItem>)ViewBag.Dealers, null, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>PO Number</td>
                            <td>
                                @Html.Editor("txtPONo", "PONo", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                        <tr>
                            <td>Vessel Name</td>
                            <td>
                                @Html.DropDownList("ddlVessels", (IEnumerable<SelectListItem>)ViewBag.Vesseels, null, htmlAttributes: new { @class = "form-control" })
                            </td>
                            <td>AC Code</td>
                            <td>
                                @Html.Editor("txtAcCode", "AcCode", new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>
                    </table>
                </div>
                <br />
                <div>
                    <input type="button" id="btnAddInvoiceDest" value="Add Descriptions" class="btn btn-primary" />
                </div>

                <br />
                <div style="height:250px; max-height:250px;overflow-y:scroll;">
                    <table id="tblDest" class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>Service Code</th>
                                <th>Service Description</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th width="200px;">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <br />
                <div style="width:1100px;">
                    <div style="float:right; display:-webkit-inline-box;-webkit-box-align: baseline;">
                        <table>
                            <tr>
                                <td>
                                    <span>Total Amount:</span>
                                </td>
                                <td>
                                    @Html.Editor("txtTotalAmount", "totalAmount", new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br />

                <div>
                    <table>
                        <tr>
                            <td>
                                Currency:
                            </td>
                            <td>
                                <input type="text" id="txtTotalAmount" value="Doe" class="form-control" />
                                @*@Html.Editor("txtTotalAmount", "totalAmount", new { htmlAttributes = new { @class = "form-control", @text = "0.00" } })*@
                            </td>
                            <td>
                                Rate:
                            </td>
                            <td>
                                @Html.Editor("txtCurrencyRate", "CurrencyRate", new { htmlAttributes = new { @class = "form-control" } })

                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div style="text-align: center;">
                    <input type="button" value="Generate Invoice" id="btnGenInvoice" class="btn btn-primary btn-lg" />
                </div>
            }
        </div>

        <div id="dialog" title="Invoices Description">
            <div id="divMsg">
                <table class="table table-bordered">
                    <tr>
                        <td>Service Code</td>
                        <td><input type="text" id="txtServiceCode" class="form-control" /></td>
                        <td>Service Description</td>
                        <td><input type="text" id="txtDescription" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><input type="text" id="txtDate" class="form-control" /></td>
                        <td>Time</td>
                        <td><input type="text" id="txTime" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        <td><input type="text" id="txtDestination" class="form-control" /></td>
                        <td>Qty</td>
                        <td><input type="text" id="txtQty" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Unit Price</td>
                        <td><input type="text" id="txtUnitPrice" class="form-control" /></td>
                        <td>PO</td>
                        <td><input type="text" id="txtPo" class="form-control" /></td>
                    </tr>
                </table>
            </div>
            <hr />
            <div align="center">
                <input type="button" id="btnAdd" value="Add" class="btn btn-primary" />
                <input type="button" id="btnClose" value="Close" class="btn btn-primary" />
            </div>
        </div>
    </div>

</div>
@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">
        
        $(document).ready(function () {


            $("#dialog").dialog({
                resizable: false,
                autoOpen: false,
                height: "auto",
                width: 750,
                modal: true,
            }).prev(".ui-dialog-titlebar").css("background", "#337ab7").css("color", "#F5F5F5");

            $("#btnAddInvoiceDest").click(function () {
                $("#dialog").dialog("open");
            });

            $("#btnAdd").click(function (e) {
                e.preventDefault();
                // start Processing Add record to html table
                var servicecode = $("#txtServiceCode").val();
                var description = $("#txtDescription").val();
                var date = $("#txtDate").val();
                var time = $("#txTime").val();
                var destination = $("#txtDestination").val();
                var qty = $("#txtQty").val();
                var unitprice = $("#txtUnitPrice").val();

                var servicedescription = description + " " + date + " " + time + " " + destination;

                //calculate total amount
                var totalAmount = 0;
                if ($("#txtTotalAmount").val() != "") {
                    totalAmount = $("#txtTotalAmount").val();
                }
                
                var qtyprice = 0;
                qtyprice = qty * unitprice;

                if ((totalAmount != "" || totalAmount ==0) && qtyprice != "") {
                    totalAmount = parseFloat(totalAmount) + parseFloat(qtyprice);
                }
                
                totalAmount = totalAmount.toFixed(2);
                $("#txtTotalAmount").val(totalAmount);

                $(".data-table tbody").append("<tr data-servicecode = '" + servicecode + "' data-servicedescription = '" + servicedescription + "' data-qty = '" + qty + "' data-unitprice = '" + unitprice + "'>" +
                                                "<td>" + servicecode + "</td> <td>" + servicedescription + "</td> <td>" + qty + "</td > <td>" + unitprice + "</td >" +
                                                "<td><button class='btn btn-info btn-xs btn-edit'>Edit</button> "+
                                                "<button class= 'btn btn-danger btn-xs btn-delete'>Delete</button ></td ></tr > ");

                $("#txtServiceCode").val("");
                $("#txtDescription").val("");
                $("#txtDate").val("");
                $("#txTime").val("");
                $("#txtDestination").val("");
                $("#txtQty").val("");
                $("#txtUnitPrice").val("");
                qty = "";
                unitprice = "";
                qtyprice = "";
                // End Processing Add record to html table

                $("#dialog").dialog("close");
            });

            //delete record from table
            $("body").on("click", ".btn-delete", function () {
                $(this).parents("tr").remove();
            });

            // Edit the record in table
            $("body").on("click", ".btn-edit", function (e) {

                e.preventDefault();

                var editServicecode = $(this).parents("tr").attr('data-servicecode');
                var editDescription = $(this).parents("tr").attr('data-servicedescription');
                var editQty = $(this).parents("tr").attr('data-qty');
                var editUnitprice = $(this).parents("tr").attr('data-unitprice');                
                
                //calculate total amount --------------------------------------
                var totalAmount = 0;
                if ($("#txtTotalAmount").val() != "") {
                    totalAmount = $("#txtTotalAmount").val();
                }

                var editQtyUnitprice = (editQty * editUnitprice);

                if (totalAmount != "" && editQtyUnitprice != "") {
                    totalAmount = Math.abs(parseFloat(totalAmount) - parseFloat(editQtyUnitprice));
                }

                totalAmount = totalAmount.toFixed(2)
                $("#txtTotalAmount").val(totalAmount);
                //---------------------------------------------------------------

                $(this).parents("tr").find("td:eq(0)").html('<input name="edit_Servicecode" value="' + editServicecode + '">');
                $(this).parents("tr").find("td:eq(1)").html('<input name="edit_Description" value="' + editDescription + '">');
                $(this).parents("tr").find("td:eq(2)").html('<input name="edit_Qty" value="' + editQty + '">');
                $(this).parents("tr").find("td:eq(3)").html('<input name="edit_Unitprice" value="' + editUnitprice + '">');

                $(this).parents("tr").find("td:eq(4)").prepend("<button class='btn btn-info btn-xs btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
                $(this).hide();
            });

            // Cancel the record in table
            $("body").on("click", ".btn-cancel", function (e) {

                e.preventDefault();

                var canceServicecode = $(this).parents("tr").attr('data-servicecode');
                var cancelDescription = $(this).parents("tr").attr('data-servicedescription');
                var cancelQty = $(this).parents("tr").attr('data-qty');
                var cancelUnitprice = $(this).parents("tr").attr('data-unitprice');

                //calculate total amount --------------------------------------
                var totalAmount = 0;
                if ($("#txtTotalAmount").val() != "") {
                    totalAmount = $("#txtTotalAmount").val();
                }

                var cancelQtyUnitprice = (cancelQty * cancelUnitprice);

                if (totalAmount != "" && cancelQtyUnitprice != "") {
                    totalAmount = Math.abs(parseFloat(totalAmount) + parseFloat(cancelQtyUnitprice));
                }

                totalAmount = totalAmount.toFixed(2)
                $("#txtTotalAmount").val(totalAmount);
                //---------------------------------------------------------------

                $(this).parents("tr").find("td:eq(0)").text(canceServicecode);
                $(this).parents("tr").find("td:eq(1)").text(cancelDescription);
                $(this).parents("tr").find("td:eq(2)").text(cancelQty);
                $(this).parents("tr").find("td:eq(3)").text(cancelUnitprice);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-update").remove();
                $(this).parents("tr").find(".btn-cancel").remove();
            });

            // Update the record in table
            $("body").on("click", ".btn-update", function (e) {

                e.preventDefault();

                var updateServiceCode = $(this).parents("tr").find("input[name='edit_Servicecode']").val();
                var updateDescription = $(this).parents("tr").find("input[name='edit_Description']").val();
                var updateQty = $(this).parents("tr").find("input[name='edit_Qty']").val();
                var updateUnitPrice = $(this).parents("tr").find("input[name='edit_Unitprice']").val();

                //calculate total amount --------------------------------------
                var totalAmount = 0;
                if ($("#txtTotalAmount").val() != "") {
                    totalAmount = $("#txtTotalAmount").val();
                }

                var updateQtyUnitprice = (updateQty * updateUnitPrice);

                if (totalAmount != "" && updateQtyUnitprice != "") {
                    totalAmount = Math.abs(parseFloat(totalAmount) + parseFloat(updateQtyUnitprice));
                }

                totalAmount = totalAmount.toFixed(2)
                $("#txtTotalAmount").val(totalAmount);
                //---------------------------------------------------------------

                $(this).parents("tr").find("td:eq(0)").text(updateServiceCode);
                $(this).parents("tr").find("td:eq(1)").text(updateDescription);
                $(this).parents("tr").find("td:eq(2)").text(updateQty);
                $(this).parents("tr").find("td:eq(3)").text(updateUnitPrice);

                $(this).parents("tr").attr('data-servicecode', updateServiceCode);
                $(this).parents("tr").attr('data-servicedescription', updateDescription);
                $(this).parents("tr").attr('data-qty', updateQty);
                $(this).parents("tr").attr('data-unitprice', updateUnitPrice);

                $(this).parents("tr").find(".btn-edit").show();
                $(this).parents("tr").find(".btn-cancel").remove();
                $(this).parents("tr").find(".btn-update").remove();
            });

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });

            $("#btnGenInvoice").click(function (e) {

                e.preventDefault();

                var VM_ManualInvoice = {};
                var VM_ServiceDescription = [];

                var invoiceNo = $("#txtInvoiceNo").val();
                var invoiceDate = $("#txtInvoiceDate").val();
                var ownerName = $("#ddlOwners option:selected").val();
                var snjNo = $("#txtSnjNo").val();
                var customerName = $("#ddlCustomers option:selected").val();
                var DoNo = $("#txtDONo").val();
                var Dealer = $("#ddlDealers option:selected").val();
                var poNo = $("#txtPONo").val();
                var Vessels = $("#ddlVessels option:selected").val();
                var acCode = $("#txtAcCode").val();

                var table = $("#tblDest tbody");

                table.find('tr').each(function (i, el) {
                    var des = {};

                    var $td = $(this).find('td');

                    var sc = $td[0].innerText;// $td.eq(0).innerText;
                    var ds = $td[1].innerText;// $td.eq(1).innerText;
                    var qt = $td[2].innerText;// $td.eq(2).innerText;
                    var up = $td[3].innerText;// $td.eq(3).innerText;

                    des.servicecode = sc;
                    des.description = ds;
                    des.qty = qt;
                    des.unitprice = up;

                    VM_ServiceDescription.push(des);
                });

                VM_ManualInvoice.InvoiceNo = invoiceNo;
                VM_ManualInvoice.InvoiceDate = invoiceDate;
                VM_ManualInvoice.OwnerName = ownerName;
                VM_ManualInvoice.SNJNo = snjNo;
                VM_ManualInvoice.CstomerName = customerName;
                VM_ManualInvoice.DONo = DoNo;
                VM_ManualInvoice.Dealers = Dealer;
                VM_ManualInvoice.PONo = poNo;
                VM_ManualInvoice.Vessel = Vessels;
                VM_ManualInvoice.AcCode = acCode;
                VM_ManualInvoice.ServiceDest = VM_ServiceDescription;

                var list = JSON.stringify(VM_ManualInvoice);
                alert(list);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GenInvoiceManualIOP", "ManualInvoices")',
                    dataType: "json",
                    data: list,
                    contentType: "application/json; charset=utf-8",
                     success: function (data) {
                            if (data.FileGuid == "0" && data.FileName == "SessionExpired") {
                                window.location = '@Url.Action("Login", "demoNoonReports", new { Area = ""})';
                            }
                            else {
                                window.location = '/Invoices/Dwnload?fileGuid=' + data.FileGuid
                                    + '&filename=' + data.FileName;
                            }
                            $(".modal").css("display", "none");
                        },
                    error: function (xhr, status, text) {
                        $(".modal").css("display", "none");
                        var xhrsataus = xhr.status;
                        alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                    }
                });
            });


            @*$('#ddlCustomers').change(function () {
                var list = $('#ddlCustomers option:selected').val();
                $.ajax({
                    url:'@Url.Action("GetVessels", "ManualInvoices")',
                    type: "POST",
                    data: list,
                    dataType: "json",
                    success: function (res) {

                        $.each(res.d, function (data, value) {

                            $("#ddlVessels").append($("<option></option>").val(value.VesselID).html(value.VesselName));
                        });
                        // Hide the "busy" gif:
                        $(".modal").css("display", "none");
                    },
                    error: function (xhr, status, text) {
                        $(".modal").css("display", "none");
                        var xhrsataus = xhr.status;
                        alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                    }
                });
            });*@
        });
    </script>
}

