﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtCusRegs_

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>BsPtCusRegs_</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.fkCusID, "fkCusID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("fkCusID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fkCusID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fkCuscID, "fkCuscID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("fkCuscID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fkCuscID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fkSimID, "fkSimID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("fkSimID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fkSimID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFbContNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFbContNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFbContNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegStartdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegStartdate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegStartdate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegEnd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegEnd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegEnd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBTerm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBTerm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBTerm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBCardFee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBCardFee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBCardFee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBActFee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBActFee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBActFee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBRgnFee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBRgnFee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBRgnFee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFBMultiVce, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.BPtCusRgnFBMultiVce)
                @Html.ValidationMessageFor(model => model.BPtCusRgnFBMultiVce, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFBDataPlanIn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFBDataPlanIn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFBDataPlanIn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFbRecurFee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFbRecurFee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFbRecurFee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFbRecurFeeType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFbRecurFeeType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFbRecurFeeType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFbInbundleDataRate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFbInbundleDataRate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFbInbundleDataRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BPtCusRgnFbOutBundleDataRate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BPtCusRgnFbOutBundleDataRate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BPtCusRgnFbOutBundleDataRate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegDataRateUnitType, "BsPtCusRegDataRateUnitType", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BsPtCusRegDataRateUnitType", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BsPtCusRegDataRateUnitType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusAddr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusAddr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusAddr, "", new { @class = "text-danger" })
            <label style="font-size:8px;">for example(must be comma separate): DEMO FISHERY CO LTD,5F No. 139 Hou An Road,Qianzhen District, Kaohsiung City,Taiwan(ROC) 806'</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBBarDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBBarDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBBarDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFbBarDateLifted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFbBarDateLifted, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFbBarDateLifted, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBSusDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBSusDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBSusDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBSusDateLifted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBSusDateLifted, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBSusDateLifted, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBSusMB_Lmt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBSusMB_Lmt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBSusMB_Lmt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBSusUS_Lmt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBSusUS_Lmt, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBSusUS_Lmt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBLayUpDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBLayUpDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBLayUpDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBLayUpDateLifted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBLayUpDateLifted, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBLayUpDateLifted, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBLayUpNosPerYr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBLayUpNosPerYr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBLayUpNosPerYr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BsPtCusRegFBLayUpPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BsPtCusRegFBLayUpPeriod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BsPtCusRegFBLayUpPeriod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
