﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtCusRegs_

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BsPtCusRegs_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegStartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegStartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFBMultiVce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFBMultiVce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFBDataPlanIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFBDataPlanIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbRecurFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFbRecurFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbRecurFeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFbRecurFeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbInbundleDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFbInbundleDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbOutBundleDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusRgnFbOutBundleDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBSusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBSusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBSusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBSusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBLayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegFBLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BptFbSim.BPtFBImImsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCustomer.Customers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtUnit.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
