﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtCusRegs_>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegStartdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFBMultiVce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFBDataPlanIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbVcePlanOPtLesRgn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbRecurFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbRecurFeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbInbundleDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusRgnFbOutBundleDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.BsPtCusAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBSusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegFBLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegStartdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFBMultiVce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFBDataPlanIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFbVcePlanOPtLesRgn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFbRecurFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFbRecurFeeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFbInbundleDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusRgnFbOutBundleDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBSusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBSusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBSusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBSusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBLayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegFBLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BptFbSim.BPtFBImImsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtUnit.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusContract.BsPtCusFbContNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cus_RegID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cus_RegID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cus_RegID })
        </td>
    </tr>
}

</table>
