﻿@model FormUpdated.Areas.BillingSystem.Models.BptFbSim

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BptFbSim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BPtFBImImsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBImImsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimMsisdn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimMsisdn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimIccid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimIccid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimLesCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimLesCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimBillCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimBillCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimCusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimCusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimDealCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimDealCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimShipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimShipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimApn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimApn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimApnUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimApnUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBimApnPW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBimApnPW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimPin1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimPin1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimPin2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimPin2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimPuk1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimPuk1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimPuk2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimPuk2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimRgnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimRgnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimDeRgnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimDeRgnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimActnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimActnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimdeSuspDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimdeSuspDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimSuspDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimSuspDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFBSimDeBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFBSimDeBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtEquipType.EquipmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtEquipType.EquipmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtLESRef.LESCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtLESRef.LESCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtSatType.Satcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtSatType.Satcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtShip.BPtShipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtShip.BPtShipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sim_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
