﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BptFbSim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBImImsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimMsisdn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimIccid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimLesCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimBillCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimCusCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimDealCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimShipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimApn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimApnUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBimApnPW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimPin1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimPin2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimPuk1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimPuk2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimlock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimRgnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimDeRgnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimActnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimdeSuspDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimSuspDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFBSimDeBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtEquipType.EquipmentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtLESRef.LESCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtSatType.Satcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtShip.BPtShipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBImImsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimMsisdn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimIccid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimLesCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimBillCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimCusCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimDealCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimShipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimApn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimApnUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBimApnPW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimPin1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimPin2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimPuk1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimPuk2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimlock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimRgnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimDeRgnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimActnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimdeSuspDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimSuspDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFBSimDeBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtEquipType.EquipmentCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtLESRef.LESCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtSatType.Satcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtShip.BPtShipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sim_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sim_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sim_ID })
        </td>
    </tr>
}

</table>
