﻿@model FormUpdated.Areas.BillingSystem.Models.Statement

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Statement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vessel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vessel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Margin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Margin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invFileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invFileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMSIID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMSIID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stmtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
