﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.Statement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .form-control-dd {
        display: inline !important;
        width: auto;
        height: 34px;
        margin: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
</style>

<div class="panel panel-primary" style="width:1500px;">
    <div class="panel-heading panel-head" style="padding:10px">
        List of Statements
    </div>

    <div>
        @using (Html.BeginForm("Index", "Statements", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="dropdown" style="display:inline;margin-bottom:10px;">

                @Html.DropDownList("Years", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Years", Value="-1", Selected=true},
                   new SelectListItem{ Text="2014", Value = "2014" },
                   new SelectListItem{ Text="2015", Value = "2015" },
                   new SelectListItem{ Text="2016", Value = "2016" },
                   new SelectListItem{ Text="2017", Value = "2017" },
                   new SelectListItem{ Text="2018", Value = "2018" },
                   new SelectListItem{ Text="2019", Value = "2019" }
                }, "Select Year", new { @class = "form-control-dd" })

                @Html.DropDownList("Months", new List<SelectListItem>
               {
                  new SelectListItem{ Text="Months", Value="-1", Selected=true},
                  new SelectListItem{ Text="January", Value = "1" },
                  new SelectListItem{ Text="February", Value = "2" },
                  new SelectListItem{ Text="March", Value = "3" },
                  new SelectListItem{ Text="April", Value = "4" },
                  new SelectListItem{ Text="May", Value = "5" },
                  new SelectListItem{ Text="June", Value = "6" },
                  new SelectListItem{ Text="July", Value = "7" },
                  new SelectListItem{ Text="August", Value = "8" },
                  new SelectListItem{ Text="September", Value = "9" },
                  new SelectListItem{ Text="October", Value = "10" },
                  new SelectListItem{ Text="November", Value = "11" },
                  new SelectListItem{ Text="December", Value = "12" }
               }, new { @class = "form-control-dd" })

                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        }
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vessel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalCP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalSP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Margin)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.SMTSCost)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.invFileID)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.IvoiceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IMSIID)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Remarks)
                </th>
                @*<th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LES)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vessel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalSP)
                    </td>
                    <td>
                        <p> @Html.DisplayFor(modelItem => item.Margin) % </p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.SMTSCost)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.invFileID)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.IvoiceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IMSIID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Remarks)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.stmtID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.stmtID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.stmtID })
                        </td>*@
                </tr>
            }

        </table>
        <div>
            <input type="button" id="btnExport" value="Export to Excel" class="btn btn-success" style="margin-left:10px;" />
        </div>
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnExport").click(function () {
                $.ajax({
                    //url: '/Statements/ExportExcel',
                    url:'@Url.Action("ExportExcel", "Statements")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    success: function (data) {
                        window.location = '/Statements/Download?fileGuid=' + data.FileGuid
                            + '&filename=' + data.FileName;
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });


            });

        });
    </script>
}