﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.Bs2Statement>

@{
    ViewBag.Title = "ListStatement";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>ListStatement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StLES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StTotalCP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StTotalSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StSMTSCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2stMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StinvFileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StIvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bs2StRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BS2MtCusT.BSMtCusLesCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StLES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StTotalCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StTotalSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StSMTSCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2stMargin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StinvFileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StIvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bs2StRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BptFbSim.BPtFBImImsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BS2MtCusT.BSMtCusLesCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bs2stmtID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bs2stmtID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bs2stmtID })
        </td>
    </tr>
}

</table>
