﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsFBBServiceType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SMTSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnityRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SMTSCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnityRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceTypeID })
        </td>
    </tr>
}

</table>
