﻿
@{
    ViewBag.Title = "companyDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .dashboard {
        float: left;
        width: 100%;
    }

        .dashboard .dashboard3col {
            width: 100%;
            float: left;
        }

    .dashboardCol {
        float: left;
        width: 33%;
        overflow: hidden;
        margin: 0;
    }

    .dashboardItem {
        margin: 0 10px 10px 0;
        border: solid 1px #e7e7e7;
    }

    .dashboardItemHeader {
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px 15px;
        background-color: #dbdbdb;
    }

    .dashboardItemBody {
        margin: 10px;
        overflow: hidden;
    }

    .dashboardFooter {
        clear: both;
        width: 100%;
        background-color: Red;
    }

    .divdashboard {
        border: 2px solid lightblue;
        width: 250px;
        height: 250px;
        display: inline-block;
        text-align: center;
        position: relative;
        background: #f6f6f6;
    }

    .inner {
        /*width: 100px;
        height: 100px;*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #337ab7;
        text-decoration: none;
        font-size: 30px;
    }
</style>

<div>
    <h4 style="color:#337ab7;">
        Company DashBoard
    </h4>
</div>
<div style="padding:50px;">
    <table>
        <tr>
            @{string redirectCaption = "";}
            @if (ViewBag.CompanyNames != null)
            {
                foreach (var item in ViewBag.CompanyNames)
                {
                    if (item != null)
                    {
                        redirectCaption = item;
                    <td style="padding:50px;">
                        <div class="divdashboard">
                            @Html.ActionLink(redirectCaption, "shipDashboard", new { companyName = redirectCaption }, new { @class = "inner" })
                        </div>
                    </td>
                    }
                }
            }
            else
            {
                <td></td>
            }
        </tr>
    </table>
</div>



