﻿@model FormUpdated.Areas.BillingSystem.ViewModel.OteSatFileUploadVM
@{
    ViewBag.Title = "NewOteSatToCDR";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .image-upload {
        padding-left: 20px;
        display: inline-block;
    }

        .image-upload > input {
            display: block;
        }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading fontStyle"> <p> New OteSat CDR to CT </p> </div>
        <div class="panel-body">

            <div id="progress" class="modal">
                <div class="center" align="center">
                    <img src="~/Images/image-loader.gif" class="centerimg" />
                </div>
            </div>

            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">

                     window.onload = function () {

                         var div = $('<p> </p>').text("@ViewBag.Message").addClass("alert-danger").css("padding", "10px");

                         $("#divCDRStatus").append(div);
                     };
                </script>
            }

            <div style="height:180px;">
                @using (Html.BeginForm("UploadExcel", "CDR", FormMethod.Post, new { id = "myform" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.LesRefID, "LESRef", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.LesRefID, (IEnumerable<SelectListItem>)ViewBag.LESRef, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LesRefID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.SatTypeID, "Satellite", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.SatTypeID, (IEnumerable<SelectListItem>)ViewBag.Satellite, null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.EquipID, "Equipment", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.EquipID, (IEnumerable<SelectListItem>)ViewBag.Equipment, null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.CDRExcelFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.CDRExcelFile, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.CDRExcelFile, "", new { @class = "text-danger" })

                            <input type="submit" id="btnUpload" value="Upload" class="btn btn-success" />

                            @*<div class="fileUpload">
                                    <input type="file" id="FileUpload" class="btn btn-primary" name="FileUpload" />
                                    <br />

                                    <span class="fontStyle" style="color:black !important;vertical-align:top;"> Upload OteSat Global  </span>
                                </div>*@

                            <div class="image-upload" style="float:right;">
                                <label>
                                    <input type="image" src="~/Images/Excel.jpg" alt="button" id="btnImageExport" style="width:35px;" />
                                    <span class="fontStyle" style="color:black !important;vertical-align:top;"> Export CT(OteSat)  </span>
                                </label>
                            </div>

                        </div>
                    </div>
                }
            </div>

            <div id="divCDRStatus" style="padding:20px;">

            </div>

            <div id="dialog" title="CDR Invoices Status" style="display:none">
                <div id="divMsg">

                </div>
                <hr />
                <div align="center">
                    <input type="button" id="btnClose" value="OK" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#dialog").dialog({
                resizable: false,
                autoOpen: false,
                height: "auto",
                width: 750,
                modal: true,
            }).prev(".ui-dialog-titlebar").css("background", "#337ab7").css("color", "#F5F5F5");

            // $("#divMsg").html(result);
            //$("#dialog").dialog("open");
            @*if (@ViewBag.Message != null) {
                alert("@ViewBag.Message");
                $("#divMsg").html("@ViewBag.Message");
                $("#dialog").dialog("open");
            }*@

            // Attach click handler to the submit button:
            $('#btnUpload').click(function () {
                $('#myform').submit();
            });

            //$("#myform").on("submit", function (event) {
            //$("#btnUpload").click(function () {
            //    alert("Submitted");
            //    event.preventDefault();

            //    // Show the "busy" Gif:
            //    $(".modal").css("display", "block");

            //    var url = $(this).attr("UploadExcels");
            //    var formData = new FormData(this);


            //    $.ajax({
            //        url: url,
            //        type: "POST",
            //        data: formData,
            //        dataType: "json",
            //        success: function (resp) {

            //            // Hide the "busy" gif:
            //            $(".modal").css("display", "block");

            //            // Do something useful with the data:
            //            alert(resp);
            //        },
            //        error: function (xhr, status, text) {
            //            $(".modal").css("display", "none");
            //            var xhrsataus = xhr.status;
            //            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
            //        }
            //    })
            //});

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });
        });
    </script>
}
