﻿
@{
    ViewBag.Title = "NSSL CDR To CT";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .image-upload {
        padding-left: 20px;
        display: inline-block;
    }

        .image-upload > input {
            display: block;
        }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading fontStyle"> <p> NSSL Global to CT </p> </div>
        <div class="panel-body">

            <div id="progress" class="modal">
                <div class="center" align="center">
                    <img src="~/Images/image-loader.gif" class="centerimg" />
                </div>
            </div>

            @using (Html.BeginForm())
            {
                <div>
                    <table style="width:500px;padding:10px;">
                        <tr>
                            <td style="padding:10px;">
                                @Html.Label("LES Ref", htmlAttributes: new { @class = "control-label" })
                            </td>
                            <td>
                                @Html.DropDownList("LES Ref", (IEnumerable<SelectListItem>)ViewBag.fkLesRef, null, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;">
                                <span class="fontStyle" style="color:black !important;"> Upload NSSL Global   </span>
                            </td>
                            <td>
                                <input type="file" id="uploadFile" class="btn btn-default" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;"></td>
                            <td>
                                <input type="button" id="btnUpload" value="Upload" class="btn btn-success" style="width:100%;" />
                            </td>
                        </tr>
                    </table>
                </div>

                <br />
                <div>
                    <div>
                        @*@Html.ActionLink("Data and Voice List", "ImarSatDBView", null, new { @class = "btn btn-primary" })*@
                    </div>
                </div>
            }

            <div id="dialog" title="CDR Invoices Status">
                <div id="divMsg">

                </div>
                <hr />
                <div align="center">
                    <input type="button" id="btnClose" value="OK" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $("#dialog").dialog({
                    resizable: false,
                    autoOpen: false,
                    height: "auto",
                    width: 750,
                    modal: true,
                }).prev(".ui-dialog-titlebar").css("background", "#337ab7").css("color", "#F5F5F5");
            });

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });

            //------------------------------- Upload ImarSat File to CT Start Process ----------------------------//

            $("#btnUpload").click(function () {
                $(".modal").css("display", "block");
                gotoAction();
            });

            function gotoAction() {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {
                    var fileUpload = $("#uploadFile").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    var LES;
                    var list = {};
                    LES = list.LesRef = $('#LES_Ref option:selected').val();
                    //list.SatType = $('#Satellite_Type option:selected').val();
                    //list.EquipType = $('#Equipment_Type option:selected').val();

                    fileData.append("LES_Ref", LES);
                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url:'@Url.Action("NSSL_UploadFiles", "CDR")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            $(".modal").css("display", "none");
                            $("#divMsg").html(result);
                            $("#dialog").dialog("open");
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    });
                }
                else {
                    $(".modal").css("display", "none");
                    alert("FormData is not supported.");
                }
                //return false;
            }

            //------------------------------- Upload NSSL File to CT End Process ----------------------------//
        });
    </script>
}
