﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BCtB>
@{
    ViewBag.Title = "OteSatCDRDBView";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>OteSatCDRDBView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbIMSIId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbMSIDNNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbSimIdNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbDataPlanIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVcePlanOpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbRecurFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbRecurFeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbBilIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbunitType)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NA2)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranDUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2Fixed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVc2Bgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2Fb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2Gpsp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2VceMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVce2Others)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVceBillIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbVceUnityTtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BCtFbTranVUsage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbIMSIId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbMSIDNNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbSimIdNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbDataPlanIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVcePlanOpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbRecurFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbRecurFeeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbDataRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbBilIncre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbunitType)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.NA2)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDServType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDOrig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranDUsage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2Fixed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVc2Bgan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2Fb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2Gpsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2VceMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVce2Others)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVceBillIncre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbVceUnityTtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NA14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVServType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVOrig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVDest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BCtFbTranVUsage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BCtB_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BCtB_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BCtB_ID })
            </td>
        </tr>
    }

</table>