﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtStaff

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BsPtStaff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffICNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffICNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffPassportNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffPassportNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStafDept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStafDept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffSuspStDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffSuspStDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffSuspEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffSuspEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Na5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Na5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Na6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Na6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffAccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffAccessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffOfficeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeTelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffOfficeTelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeTelExtNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffOfficeTelExtNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffPrivateMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffPrivateMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffPrivateEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffPrivateEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffKinName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffKinName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffKinMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffKinMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffAddrSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffAddrSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffAddrBldg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffAddrBldg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtStaffZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtStaffZipCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
