﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtStaff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffICNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffPassportNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffNationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStafDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffSuspStDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffSuspEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Na5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Na6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffPwd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffAccessLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeTelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffOfficeTelExtNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffPrivateMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffPrivateEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffKinName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffKinMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffAddrSt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffAddrBldg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtStaffZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffICNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffPassportNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffNationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStafDept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffSuspStDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffSuspEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Na5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Na6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffAccessLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffOfficeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffOfficeTelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffOfficeTelExtNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffPrivateMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffPrivateEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffKinName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffKinMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffAddrSt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffAddrBldg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtStaffZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Staff_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Staff_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Staff_ID })
        </td>
    </tr>
}

</table>
