﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.Bst1A>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style>
    .panel-primary {
        width: 1300px;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading panel-head" style="padding:10px;">
        Rejection Invoice
    </div>

    <div id="progress" class="modal">
        <div class="center" align="center">
            <img src="~/Images/image-loader.gif" class="centerimg" />
        </div>
    </div>  

    <table class="table table-bordered table-responsive table-hover" id="tbl">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bt1LesFbIMSIId)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbMSIDNNo)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Bt1LesFbSimIdNo)
                    </th>*@
            <th>
                Date
            </th>
            @*<th>
                    Service Type
                </th>*@
            <th>

                Description
            </th>
            <th>
                <input type="checkbox" id="chkHeader" name="chkHeader" /> Billing
            </th>
            <th>
                Action
            </th>



            @*<th>
                    @Html.DisplayNameFor(model => model.NA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbLesCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbCdrCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbSatType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbServType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbCDRRef)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbBillno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbBillPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbBillDate)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.NA1)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.NA2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA3)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.NA4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbSimSingle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbSimDual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbMultiVce)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbContNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbContStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1CdrFbContEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LespFbEndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbTerm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NA13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbCardFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbActFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt1LesFbRgnFee)
                </th>
                <th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bt1LesFbIMSIId)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbMSIDNNo)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Bt1LesFbSimIdNo)
                        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Bt1LesFbStartDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbServType)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Bt1LesFbCDRRef)
                </td>

                @*@<td>
                        @Html.DisplayFor(modelItem => item.NA)
                    </td>*@


                <td>
                    <input id="chkRow" name="chkRow" type="checkbox" class="check" value="@item.Bst1A_ID" />
                </td>


                @*@<td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbLesCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbCdrCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbSatType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbBillno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbBillPeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbBillDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.NA1)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.NA2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA6)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbSimSingle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbSimDual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbMultiVce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA8)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA9)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbContNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbContStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1CdrFbContEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LespFbEndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA10)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA11)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA12)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NA13)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbCardFee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbActFee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt1LesFbRgnFee)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Bst1A_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Bst1A_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Bst1A_ID })
                </td>
            </tr>

        }
    </table>

    <button type="button" id="btnsave" class="btn btn-success">Move to Invoice</button>

</div>

@section Scripts {

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#tbl [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRow]").removeAttr("checked");
                }
            });
            //Individual CheckBox
            $("#tbl [id*=chkRow]").click(function () {
                if ($("#tbl [id*=chkRow]").length == $("#tbl [id*=chkRow]:checked").length) {
                    $("#tbl [id*=chkHeader]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkHeader]").removeAttr("checked");
                }
            });

            $("button").click(function () {
                
                var lists = [];
                $.each($("input[name='chkRow']:checked"), function () {
                    lists.push($(this).val());

                });
                
                lists = JSON.stringify({ 'lists': lists });

                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " Rejections Invoices.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");

                $.ajax(
                    {
                        type: "post",
                        url: 'Index',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            $(".modal").css("display", "none");
                            alert("Checked Id Moved to Invoice Table");
                            window.location = 'Index';
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    })
            });
        });


    </script>
}
