﻿
@{
    ViewBag.Title = "otesatCdr2Ct";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .image-upload {
        padding-left: 20px;
        display: inline-block;
    }

        .image-upload > input {
            display: block;
        }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<div>
    @{ var fileName = string.Empty;}
    @if (ViewBag.File != null)
    {
        fileName = ViewBag.File;
    }

    @{ var Error = string.Empty;}
    @if (ViewBag.Msg != null)
    {
        Error = ViewBag.Msg;
    }

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel panel-heading fontStyle"> <p> Test OteSat CDR to CT </p> </div>
            <div class="panel-body">

                <div id="progress" class="modal">
                    <div class="center" align="center">
                        <img src="~/Images/image-loader.gif" class="centerimg" />
                    </div>
                </div>

                @Html.Label("lblmsg", Error, new { @class="label-danger"})
                <br />

                <div>
                    @using(Html.BeginForm("RemoveCT", "Rejections", FormMethod.Post))
                    {
                    <p>
                        Please Remove the Common Table before proceeding to upload CDR for avoiding duplicate entry
                    </p>
                    <input type="submit" id="btnremovect" value="click here to remove CT" class="btn btn-link" />
                    }
                </div>
                <br />
                <div>
                    <div class="form-group">
                        @Html.Label("LES Ref", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("LES Ref", (IEnumerable<SelectListItem>)ViewBag.LESRef, null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    @using (Html.BeginForm("toCT", "Rejections", FormMethod.Post))
                    {
                        <table>
                            <tr>
                                <td>
                                    OteSat File Name:
                                </td>
                                <td>
                                    @Html.TextBox("txtfilesName", fileName, new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="padding:20px;">
                                    <input type="submit" id="btnGen" value="Submit" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#submit").click(function () {
                $(".modal").css("display", "block");
            });
        });

    </script>
}

