﻿
@{
    ViewBag.Title = "CDR Save";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<div>
    @{string msg = string.Empty; }

    @if (ViewBag.Msg != null)
    {
        msg = ViewBag.Msg;
    }

    <div>
        @Html.Label("lblMsg", msg, new { @class = "label-danger"})
    </div>
    <br />
    <div>
        @using (Html.BeginForm("RemoveCDR", "Rejections", FormMethod.Post))
        {
            <p>
                Please remove the CDR excel file before proceeding, it will avoid to duplicate entry.
            </p>
            <input type="submit" id="btnremovect" value="click here to remove CDR" class="btn btn-link" />
        }
    </div>
    <br />
</div>
<div>
    <div class="form-group">
        <div class="image-upload">
            <div class="fileUpload">
                <input type="file" id="uploadfile" class="btn btn-default" />
                <br />
                <button type="button" id="btnUpload" value="Upload" class="btn btn-success">Upload</button>
                <span class="fontStyle" style="color:black !important;vertical-align:top;"> Upload OteSat to Save  </span>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">
        $(document).ready(function () {
                $("#btnUpload").click(function () {
               // $(".modal").css("display", "block");
                gotoAction();
                });

            function gotoAction() {
                //Checking whether form data is available in browser
                if (window.FormData !== undefined) {
                    var fileupload = $("#uploadfile").get(0);
                    var files = fileupload.files;

                    // Create formdata object
                    var formdata = new FormData();

                    // Looping over all files and it to the formdata
                    for (var i = 0; i < files.length; i++) {
                        formdata.append(files[i].name, files[i]);
                    }

                    $.ajax({
                        url: '@Url.Action("Upload_otesatCdrSave","Rejections")',
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: formdata,
                        success: function (result) {
                            alert(result);
                        },
                        error: function (xhr, status, text) {
                            alert("Error: Xhr Status: " + xhr.status + " Status: " + status + " test: " + text);
                        }
                    });
                }
            }
        });
    </script>
}


