﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BS1ALessT>

@{
    ViewBag.Title = "Rejection";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .panel-primary {
        width: 1500px;
    }

    .form-control-dd {
        display: inline !important;
        width: auto;
        height: 34px;
        margin: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }
</style>

<div class="book-examble panel panel-primary">
    <div class="panel-heading panel-head">
        Rejection Invoices
    </div>

    <div id="progress" class="modal">
        <div class="center" align="center">
            <img src="~/Images/image-loader.gif" class="centerimg" />
        </div>
    </div>

    <div>

        @using (Html.BeginForm("Index", "Invoices", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="dropdown" style="display:inline;margin-bottom:10px;">

                <input type="button" id="btnMovetoInvoice" value="Move to Invoice" class="btn btn-success" />

                @Html.DropDownList("Years", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Years", Value="-1", Selected=true},
                   new SelectListItem{ Text="2014", Value = "2014" },
                   new SelectListItem{ Text="2015", Value = "2015" },
                   new SelectListItem{ Text="2016", Value = "2016" },
                   new SelectListItem{ Text="2017", Value = "2017" },
                   new SelectListItem{ Text="2018", Value = "2018" },
                   new SelectListItem{ Text="2019", Value = "2019" }
                }, "Select Year", new { @class = "form-control-dd" })

                @Html.DropDownList("Months", new List<SelectListItem>
               {
                  new SelectListItem{ Text="Months", Value="-1", Selected=true},
                  new SelectListItem{ Text="January", Value = "1" },
                  new SelectListItem{ Text="February", Value = "2" },
                  new SelectListItem{ Text="March", Value = "3" },
                  new SelectListItem{ Text="April", Value = "4" },
                  new SelectListItem{ Text="May", Value = "5" },
                  new SelectListItem{ Text="June", Value = "6" },
                  new SelectListItem{ Text="July", Value = "7" },
                  new SelectListItem{ Text="August", Value = "8" },
                  new SelectListItem{ Text="September", Value = "9" },
                  new SelectListItem{ Text="October", Value = "10" },
                  new SelectListItem{ Text="November", Value = "11" },
                  new SelectListItem{ Text="December", Value = "12" }
               }, new { @class = "form-control-dd" })

                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
            <div style="display:inline;margin-bottom:10px;">
                <input type="button" class="btn btn-primary" id="btnViewLog" value="View Rejection Log" />
            </div>
        }
    </div>

    <table id="tbl" class="table table-bordered table-responsive table-hover">
        <tr>
            <th>
                <input type="checkbox" id="chkHeader" name="chkHeader" /> Billing
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BS1ALesServDest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BS1ALesServType)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BS1ALesUOM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BS1ALesRecurFee)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtSPContract.BsPtlesFbContNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtCusRegs_.BsPtCusRegFbContNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input id="chkRow" name="chkRow" type="checkbox" class="check" value="@item.BS1ALesID" />
                </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.BS1ALesServType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BS1ALesBillInce)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BS1ALesUOM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BS1ALesRecurFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BptFbSim.BPtFBImImsi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtSPContract.BsPtlesFbContNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtCusRegs_.BsPtCusRegFbContNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtCusContract.BsPtCusFbContNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BS1ALesID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BS1ALesID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BS1ALesID })
                </td>
            </tr>
        }

    </table>
    <div>
        <input type="button" id="btnMoveInv" value="Move to Invoice" class="btn btn-success" />
    </div>

    <div id="dialog" title="CDR Invoices Status">
        <div id="divMsg">

        </div>
        <hr />
        <div align="center">
            <input type="button" id="btnClose" value="OK" class="btn btn-primary" />
        </div>
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $("#dialog").dialog({
                    resizable: false,
                    autoOpen: false,
                    height: "auto",
                    width: 750,
                    modal: true,
                }).prev(".ui-dialog-titlebar").css("background", "#337ab7").css("color", "#F5F5F5");
            });

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });

            $("#tbl [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRow]").removeAttr("checked");
                }
            });
            //Individual CheckBox
            $("#tbl [id*=chkRow]").click(function () {
                if ($("#tbl [id*=chkRow]").length == $("#tbl [id*=chkRow]:checked").length) {
                    $("#tbl [id*=chkHeader]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkHeader]").removeAttr("checked");
                }
            });

            $("#btnMovetoInvoice").click(function () {
                MoveInvoice();
            });

            $("#btnMoveInv").click(function () {
                MoveInvoice();
            });

            function MoveInvoice() {

                var lists = [];
                $.each($("input[name='chkRow']:checked"), function () {
                    lists.push($(this).val());

                });

                lists = JSON.stringify({ 'lists': lists });

                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " Rejections Invoices.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");

                $.ajax(
                    {
                        type: "post",
                        url: 'MovetoInvoice',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            $(".modal").css("display", "none");
                            alert(data);
                            window.location = "Rejection";
                            //window.location.href = "~/Rejections/Rejection";
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    })
            }

            $("#btnViewLog").click(function () {
                ViewRejectionLog();
            });

            function ViewRejectionLog() {

                var lists = [];
                $.each($("input[name='chkRow']:checked"), function () {
                    lists.push($(this).val());

                });

                lists = JSON.stringify({ 'lists': lists });

                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " Rejections Invoices.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");

                $.ajax(
                    {
                        type: "post",
                        url: 'ViewRejectionLog',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (result) {
                            $(".modal").css("display", "none");
                            $("#divMsg").html(result);
                            $("#dialog").dialog("open");
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    })
            }
        });


    </script>
}



