﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsMtImarsatOceanRegion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"> Ocean Regions</div>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OceanRegionID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OceanRegionID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OceanRegionID })
                </td>
            </tr>
        }
    </table>
</div>
