﻿@model FormUpdated.Areas.BillingSystem.Models.BPtFbbCusReg

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BPtFbbCusReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBimSingle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBimSingle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBimDual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBimDual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbMultiVce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbMultiVce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusAddrSt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusAddrSt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbContStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbContStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbContEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbContEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCuspFbEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCuspFbEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFbDIBInmarsatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFbDIBInmarsatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFbDIBMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFbDIBMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtFbDIBSimId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtFbDIBSimId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Na11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Na11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbDataPlanIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbDataPlanIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVcePlanOPtCus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVcePlanOPtCus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbRecurFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbRecurFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbRecurFeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbRecurFeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbBilIncre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbBilIncre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbunitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbunitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranDUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Fixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2Fixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVc2Bgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVc2Bgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Fb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2Fb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Gpsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2Gpsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2VceMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2VceMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVce2Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVcebillincre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVcebillincre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbVceunitytype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbVceunitytype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranVUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBInmarsatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSIBInmarsatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSIBMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBSimId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSIBSimId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA26)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA26)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb8kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb8kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb16kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb16kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb32kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb32kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb64kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb64kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb128kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb128kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb256kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb256kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBtBillIncre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBtBillIncre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBtBillingUnittype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBtBillingUnittype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA27)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA27)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA28)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA28)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranStUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA29)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA29)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA30)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA30)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2Bgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2Bgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2FB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2FB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2Gsps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2Gsps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2Fleet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2Fleet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2SwV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2SwV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2AeroV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2AeroV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2Iridium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2Iridium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2Thu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2Thu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFb2OMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFb2OMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranOtherUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA35)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA35)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSInmarsatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSMSInmarsatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSMSMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSSimId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbSMSSimId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBSms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBSms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbIsdnsms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbIsdnsms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTranSmsUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA36)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA36)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Na37)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Na37)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTCInmarsatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTCInmarsatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTCMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTCMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbTCSimId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbTCSimId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA39)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA39)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusEndFbPenalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusEndFbPenalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbCurBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbCurBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA40)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA40)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbGst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbGst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbPayTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbPayTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA41)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA41)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA42)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA42)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbIbvFmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbIbvFmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBSusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBSusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBSusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBSusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFBSusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFBSusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFblayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFblayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbBillrecip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbBillrecip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFbInvPWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFbInvPWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtCusFEerrAdju)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtCusFEerrAdju)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
