﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BPtFbbCusReg>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBimSingle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBimDual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbMultiVce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusAddrSt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbContStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbContEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCuspFbEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFbDIBInmarsatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFbDIBMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtFbDIBSimId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Na11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbDataPlanIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVcePlanOPtCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbRecurFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbRecurFeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbBilIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbunitType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranDUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA20)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Fixed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVc2Bgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Fb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Gpsp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2VceMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVce2Others)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVcebillincre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbVceunitytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranVUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBInmarsatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSIBSimId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA26)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb8kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb16kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb32kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb64kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb128kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb256kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBtBillIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBtBillingUnittype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA27)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA28)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranStUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA29)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2Bgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2FB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2Gsps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2Fleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2SwV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2AeroV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2Iridium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2Thu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFb2OMes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranOtherUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA34)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA35)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSInmarsatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbSMSSimId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBSms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbIsdnsms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTranSmsUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA36)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Na37)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA38)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTCInmarsatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTCMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbTCSimId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA39)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusEndFbPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbCurBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA40)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbGst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbPayTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA41)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA42)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbIbvFmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBSusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBSusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFBSusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFblayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbBillrecip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFbInvPWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtCusFEerrAdju)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBimSingle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBimDual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbMultiVce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusAddrSt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbContStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbContEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCuspFbEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFbDIBInmarsatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFbDIBMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtFbDIBSimId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Na11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbDataPlanIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVcePlanOPtCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbRecurFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbRecurFeeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbBilIncre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbunitType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranDUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2Fixed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2Cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVc2Bgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2Fb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2Gpsp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2VceMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVce2Others)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVcebillincre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbVceunitytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranVUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSIBInmarsatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSIBMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSIBSimId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb8kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb16kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb32kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb64kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb128kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb256kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBtBillIncre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBtBillingUnittype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranStUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2Bgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2FB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2Gsps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2Fleet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2SwV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2AeroV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2Iridium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2Thu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFb2OMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranOtherUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA34)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA35)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSMSInmarsatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSMSMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbSMSSimId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBSms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbIsdnsms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTranSmsUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA36)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Na37)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA38)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTCInmarsatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTCMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbTCSimId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA39)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusEndFbPenalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbCurBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA40)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbGst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbPayTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA41)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA42)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbIbvFmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBSusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBSusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFBSusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFblayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbBillrecip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFbInvPWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtCusFEerrAdju)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CusReg_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CusReg_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CusReg_ID })
        </td>
    </tr>
}

</table>
