﻿@model FormUpdated.Areas.LDKSatcom.Models.CrewDetail

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/LDKSatcom/Views/Shared/_Layout_ldksatcom.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CrewDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofJoining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofJoining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSuspension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSuspension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tomail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tomail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBilling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBilling)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
