﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsMtImarsatCDKIND>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        Code Kind of Traffic
    </div>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descriptions)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CDKINDID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CDKINDID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CDKINDID })
                </td>
            </tr>
        }

    </table>

</div>