﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtCusContract

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsPtCusContract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFbContStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFbContStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFbContEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFbContEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBSusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBSusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBSusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBSusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBLayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusFBLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCustomer.Customers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cuscID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
