﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtCusContract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFbContStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFbContEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBSusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusFBLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFbContStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFbContEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBSusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBSusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBSusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBSusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBLayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusFBLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cuscID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cuscID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cuscID })
        </td>
    </tr>
}

</table>
