﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Invoices </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style type="text/css">
    .fontStyle {
        color: whitesmoke !important;
        font-family: initial;
        font-weight: 100;
        font-size: 20px;
    }

    .whitefont {
        color: whitesmoke !important;
    }

    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
</style>

<body>
    <div style="padding:0; margin:0;">
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#337ab7;border-width:0px;border-color:none !important;">
            @Html.Partial("_Menuitems_Partial")
        </div>

        <div>
            @RenderBody()
        </div>

        <div align="center" style="padding:20px;">
            <footer class="panel-footer">
                <p>&copy; @DateTime.Now.Year - SMTS Pvt Ltd Billing System</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        </div>
</body>
</html>
