﻿

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Billing System", "Invoices", "Index", new { area = "BillingSystem" }, new { @class = "navbar-brand fontStyle" })
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="nav" style="font-weight:bold;">

            @*@{
            var myTag = MySession.isAdmin;
        }
        @if (myTag)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:whitesmoke"> Crew <b class="caret"></b></a>
                <ul class="dropdown-menu" style="z-index:101;height:auto">
                    <li>@Html.ActionLink("New Crew", "Create", "Crew")</li>
                    <li>@Html.ActionLink("Crew Details", "Index", "Crew")</li>
                </ul>
            </li>
        }*@

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">Common Table</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    @*<li>@Html.ActionLink("OteSat to CDR", "OteSatCDR", "CDR")</li>*@
                    <li>@Html.ActionLink("OteSat to CT", "NewOteSat2CDR", "CDR")</li>
                    <li>@Html.ActionLink("IMARSat to CDR", "ImarSatCDR", "CDR")</li>
                    <li>@Html.ActionLink("NSSL Global to CDR", "NSSLCDR", "CDR")</li>
                    <li>@Html.ActionLink("NI CDR to CT", "NIToCDR", "CDR")</li>
                    <li>@Html.ActionLink("EvoSat CDR to CT", "EvoSatCDRToCT", "CDR")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">Customers</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("New Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Customer Contracts", "Index", "CusContracts")</li>
                    <li>@Html.ActionLink("Customer Registers", "Index", "CusRegs_")</li>
                    <li>@Html.ActionLink("Service Types", "Index", "CusServiceTypes")</li>
                    <li>@Html.ActionLink("CUS Reg Price", "CUSRegPrices", "View")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">LES</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("New LES", "Index", "ServiceProviders")</li>
                    <li>@Html.ActionLink("LES Contracts", "Index", "Contracts")</li>
                    <li>@Html.ActionLink("SIM Registeration", "Index", "SimRegs")</li>
                    <li>@Html.ActionLink("LES Registeration", "Index", "SPLesRegs")</li>
                    <li>@Html.ActionLink("Service Types", "Index", "LESServiceTypes")</li>
                    <li>@Html.ActionLink("LESS Reg Price", "LESRegPrices", "View")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">Secondary Table</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Invoice", "Invoice", "Invoices")</li>
                    <li>@Html.ActionLink("Rejection", "Rejection", "Rejections")</li>
                    <li>@Html.ActionLink("Manual Invoice", "ManualInvoice", "ManualInvoices")</li>
                    <li>@Html.ActionLink("OteSat Invoice", "Index", "Invoices")</li>
                    <li>@Html.ActionLink("OteSat Rejection", "Index", "Rejections")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">Master Table</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Communication Type", "Index", "CommunicationTypes")</li>
                    <li>@Html.ActionLink("Units", "Index", "Units")</li>
                    <li>@Html.ActionLink("Code Kind of Traffic", "Index", "CodeKindTraffic")</li>
                    <li>@Html.ActionLink("Call Type Code", "Index", "CallTypeCodes")</li>
                    <li>@Html.ActionLink("Facility Code", "Index", "FacilityCodes")</li>
                    <li>@Html.ActionLink("Service Code", "Index", "ServiceCodes")</li>
                    <li>@Html.ActionLink("Country Code", "Index", "CountryCodes")</li>
                    <li>@Html.ActionLink("Ocean Region", "Index", "OceanRegions")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;">Primary</span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cus Register", "Create", "CusRegs")</li>
                    @*<li>@Html.ActionLink("Customer Details", "Create", "PrimaryCustomer")</li>*@
                    <li>@Html.ActionLink("Les Register", "Create", "LesRegs")</li>
                    @*<li>@Html.ActionLink("Les Details", "Create", "PrimaryLesDetails")</li>*@
                    @*<li>@Html.ActionLink("Les Std Cost Price", "Create", "PrimaryLesCp")</li>*@
                    @*<li>@Html.ActionLink("Bill", "Create", "PrimaryBills")</li>*@
                    @*<li>@Html.ActionLink("Dealer", "Create", "PrimaryDealer")</li>*@
                    <li>@Html.ActionLink("Ship", "Index", "Ships")</li>
                    <li>@Html.ActionLink("Staff", "Create", "StaffRegs")</li>
                    @*<li>@Html.ActionLink("FBB SIM", "Create", "PrimarySim")</li>*@
                </ul>
            </li>

            @*<li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;"> Statement </span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("List", "Index", "Statements")</li>
                    <li>@Html.ActionLink("Statements", "ListStatement", "Statements")</li>
                </ul>
            </li>*@

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;"> New OteSat </span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("OteSat to CT", "NewOteSat2CDR", "CDR")</li>
                    <li>@Html.ActionLink("FBB Service Type", "Create", "FBBServiceTypes")</li>
                    <li>@Html.ActionLink("LES Ref", "Create", "LESRefs")</li>
                    <li>@Html.ActionLink("Satellite", "Create", "Satellites")</li>
                    <li>@Html.ActionLink("Equipment", "Create", "Equipments")</li>
                </ul>
            </li>

            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style=" color: whitesmoke !important;"> Test </span><b class="caret fontStyle"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("OteSat CDT 2 CT", "CDRtoCT", "CommonTable")</li>
                    <li>@Html.ActionLink("OteSat CDR Upload & Save", "otesatCdrSave", "Rejections")</li>
                    <li>@Html.ActionLink("OteSat CDR Download", "otesatCdrDownload", "Rejections")</li>
                    <li>@Html.ActionLink("OteSat CT Download", "otesatCTDownload", "Rejections")</li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:whitesmoke"> @HttpContext.Current.User.Identity.Name<b class="caret"></b></a>
                <ul class="dropdown-menu" style="z-index:101;height:auto;">
                    <li>@Html.ActionLink("Logout", "logout", "demoNoonReports", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Setting", "Create", "CrewDetails", new { area = "LDKSatcom" }, null)</li>
                    <li>@Html.ActionLink("CUS Reg Upload", "CusRegUpload", "Rejections")</li>
                    <li>@Html.ActionLink("LES Reg Upload", "LesRegUpload", "Rejections")</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
