﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.UploadFiles>

@{
    ViewBag.Title = "CDRtoCT";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .image-upload {
        padding-left: 20px;
        display: inline-block;
    }

        .image-upload > input {
            display: block;
        }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
</style>

<div>
    @using (Html.BeginForm("otesatCdrSave", "Rejections", FormMethod.Post))
    {
        <input type="submit" id="btnSaveCDR" value="Save New CDR File" class="btn btn-link" />
    }
</div>
<br />

<div id="progress" class="modal">
    <div class="center" align="center">
        <img src="~/Images/image-loader.gif" class="centerimg" />
    </div>
</div>

<div>
    <p>
        Please Remove the Common Table before proceeding to upload CDR for avoiding duplicate entry
    </p>
    <input type="submit" id="btnRemoveCT" value="click here to remove CT" class="btn btn-link" />
</div>
<br />

<div>
    <div class="form-group">
        @Html.Label("LES Ref", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LES Ref", (IEnumerable<SelectListItem>)ViewBag.LESRef, null, new { @class = "form-control" })
        </div>
    </div>
</div>
<br />
<br />

<div>
    <input type="button" id="btnProceed" value="Proceed" class="btn btn-success" />

    <input type="button" id="btndelete" value="Delete" class="btn btn-danger" />
</div>

<div>
    <table class="table" id="tbl">
        <tr>
            <th>
                <input type="checkbox" id="chkHeader" name="chkHeader" /> select
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input id="chkRow" name="chkRow" type="checkbox" class="check" value="@item.location" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@

                </td>
            </tr>
        }

    </table>
</div>

<div>
    <input type="button" id="btnProceed1" value="Proceed" class="btn btn-success" />
</div>

<div id="dialog" title="CDR Invoices Status">
    <div id="divMsg">

    </div>
    <hr />
    <div align="center">
        <input type="button" id="btnClose" value="OK" class="btn btn-primary" />
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            $(function () {
                $("#dialog").dialog({
                    resizable: false,
                    autoOpen: false,
                    height: "auto",
                    width: 750,
                    modal: true,
                }).prev(".ui-dialog-titlebar").css("background", "#337ab7").css("color", "#F5F5F5");
            });

            $("#btnClose").click(function () {
                $("#dialog").dialog("close");
            });

            $("#tbl [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRow]").removeAttr("checked");
                }
            });
            //Individual CheckBox
            $("#tbl [id*=chkRow]").click(function () {
                if ($("#tbl [id*=chkRow]").length == $("#tbl [id*=chkRow]:checked").length) {
                    $("#tbl [id*=chkHeader]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkHeader]").removeAttr("checked");
                }
            });

            $("#btnProceed").click(function () {
                Generate();
            });

            $("#btnProceed1").click(function () {
                Generate();
            });

            $("#btnRemoveCT").click(function () {
                $.ajax({
                    type: 'POST',
                    url: 'RemoveCTRecords',
                    success: function (result) {
                        alert(result);
                    },
                    error: function (xhr, status, text) {
                        alert("xhr status: " + xhr.status + " Status: " + status + " text: " + text);
                    }
                });
            });

            $("#btndelete").click(function () {

                var lists = [];
                $.each($("input[name='chkRow']:checked"), function () {
                    lists.push($(this).val());

                });

                lists = JSON.stringify({ 'lists': lists });

                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " CDR Files.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");

                $.ajax(
                    {
                        type: "post",
                        url: 'RemoveCDRFiles',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            $(".modal").css("display", "none");
                            alert(data);
                            window.location = "CDRtoCT";
                            //window.location.href = "~/Rejections/Rejection";
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    })
            });

            function Generate() {

                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0) {
                    if (chkCount == 1)
                        alert("You Checked " + chkCount + " CDR Files.");
                    else {
                        alert("You checked" + chkCount + " more than one CDR files, please checked necessary onces.");
                        return;
                    }
                }
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");

                var lists = [];
                var LES = $('#LES_Ref option:selected').val();
                $.each($("input[name='chkRow']:checked"), function () {
                    lists.push($(this).val());
                });

                lists.push(LES);

                lists = JSON.stringify({ 'lists': lists });

                $.ajax(
                    {
                        type: "post",
                        url: 'GenerateInvoice',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            $(".modal").css("display", "none");
                            alert(data);
                            window.location = "Error";
                            //window.location.href = "~/Rejections/Rejection";
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    })
            }
        });


    </script>
}
