﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.ErrorDetails>
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

@Html.ActionLink("Back", "CDRtoCT")
<h2>Error</h2>

<div>
    <div>
        <table class="table table-striped" id="tbl">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ErrorCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descriptions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LES)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToBill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ToReject)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToBill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToReject)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })*@

            </td>
        </tr>
            }

        </table>
    </div>
</div>