﻿@model FormUpdated.Areas.BillingSystem.Models.BsMtImarsatServCode

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsMtImarsatServCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RefCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServCodeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
