﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtSPServiceDest

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsPtSPServiceDest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtServiceTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtServiceTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtServiceCostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtServiceCostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtServDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtServDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtServAsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtServAsDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCommunicationType.ComTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCommunicationType.ComTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtUnit.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtSPLesReg.BsPtlesRegFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtSPLesReg.BsPtlesRegFbContNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SPServDID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
