﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtSPServiceDest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtServiceTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtServiceCostPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtServDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtServAsDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCommunicationType.ComTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtSPLesReg.BsPtlesRegFbContNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtServiceTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtServiceCostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtServDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtServAsDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCommunicationType.ComTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtUnit.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtSPLesReg.BsPtlesRegFbContNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SPServDID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SPServDID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SPServDID })
        </td>
    </tr>
}

</table>
