﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.viewCusRegPrice>

@{
    ViewBag.Title = "CUSRegPrices";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>CUSRegPrices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBImImsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBimMsisdn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBimIccid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtCusRgnFBDataPlanIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtCusRgnFbRecurFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtCusRgnFbInbundleDataRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtCusRgnFbOutBundleDataRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtCusServiceTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtCusServiceSellerPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBImImsi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBimMsisdn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBimIccid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtCusRgnFBDataPlanIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtCusRgnFbRecurFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtCusRgnFbInbundleDataRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtCusRgnFbOutBundleDataRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtCusServiceTypes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtCusServiceSellerPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditCusRegPrice", new { cusregid=item.Cus_RegID, cusid=item.CusID, shipid=item.Ship_ID, simid=item.Sim_ID }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")
    @Styles.Render("~/bundles/DataTableJqueryCSS")
    @Styles.Render("~/bundles/DataTableBootstrapCSS")

    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundle/jDataTable")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#tbl').DataTable();

        });

    </script>
}
