﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.viewLesRegPrice>

@{
    ViewBag.Title = "LESRegPrices";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>LESRegPrices</h2>

<p>
    @Html.ActionLink("Create", "CreateLesRegPrice")
</p>
<table id="tbl" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBImImsi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBimMsisdn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtFBimIccid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtLesRgnFBDataPlanIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtLesRgnFbInbundleDataRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPtLesRgnFbOutBundleDataRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtServiceTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsPtServiceCostPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtShipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBImImsi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBimMsisdn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtFBimIccid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtLesRgnFBDataPlanIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtLesRgnFbRecurFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtLesRgnFbInbundleDataRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPtLesRgnFbOutBundleDataRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtServiceTypes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BsPtServiceCostPrice)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditLesRegPrice", new { lesid=item.SPLesRegID, cusid=item.CusID, shipid=item.Ship_ID, simid=item.Sim_ID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.SPLesRegID  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.SPLesRegID  })
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")
    @Styles.Render("~/bundles/DataTableJqueryCSS")
    @Styles.Render("~/bundles/DataTableBootstrapCSS")

    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundle/jDataTable")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#tbl').DataTable();

        });

    </script>
}


