﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtLesReg

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsPtLesReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBimSingle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBimSingle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBimDual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBimDual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbMultiVce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbMultiVce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbContStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbContEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBtartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnpFbEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnpFbEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataInBundleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbDataInBundleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbDataMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataSimardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbDataSimardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataPlanIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbDataPlanIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbRecurFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbRecurFeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBilIncre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbBilIncre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbunitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbunitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranDUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA42)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA42)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA43)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA43)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA44)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA44)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA45)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA45)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA46)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA46)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA47)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA47)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA48)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA48)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA49)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA49)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Fixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2Fixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVc2Bgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVc2Bgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Fb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2Fb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Gpsp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2Gpsp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2VceMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2VceMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Others)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVce2Others)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcebillincre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVcebillincre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVceunitytype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVceunitytype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA59)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA59)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranVUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA67)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA67)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA68)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA68)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnStrInBundkeFbId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnStrInBundkeFbId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbStrMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbStrMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbStrSimCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbStrSimCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA72)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA72)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb8kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb8kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb16kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb16kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb32kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb32kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb64kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb64kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb128kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb128kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb256kbps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb256kbps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtBillIncre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBtBillIncre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtBillingUnittype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBtBillingUnittype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA81)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA81)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA82)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA82)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranStUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA90)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA90)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA91)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA91)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA92)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA92)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Bgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2Bgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2FB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2FB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Gsps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2Gsps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Fleet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2Fleet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2SwV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2SwV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2AeroV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2AeroV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Iridium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2Iridium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Thu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2Thu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2OMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFb2OMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA102)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA102)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranOtherUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA110)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA110)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA111)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA111)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA112)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA112)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSInBundleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbSMSInBundleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbSMSMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSSimCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbSMSSimCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbIsdnFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbIsdnFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsServType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsServType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsOrig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsOrig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsDest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsDest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsUsage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbTranSmsUsage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA125)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA125)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLesRegTCId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCMSIDNId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLesRegTCMSIDNId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCSimCardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLesRegTCSimCardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA129)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA129)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnEndFbPenalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnEndFbPenalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbCurBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbCurBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA132)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA132)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbGst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbGst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbPayTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbPayTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA135)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA135)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA136)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA136)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA137)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA137)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA138)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA138)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA139)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA139)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbIbvFmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbIbvFmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFblayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFblayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBillrecip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbBillrecip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbInvPWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbInvPWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFEerrAdju)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFEerrAdju)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LesReg_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
