﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtLesReg>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBimSingle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBimDual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbMultiVce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbContEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnpFbEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataInBundleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataSimardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataPlanIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBilIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbunitType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA34)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranDUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA42)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA43)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA44)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA45)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA46)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA47)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA48)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA49)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Fixed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVc2Bgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Fb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Gpsp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2VceMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVce2Others)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcebillincre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVceunitytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA59)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranVUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA67)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA68)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnStrInBundkeFbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbStrMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbStrSimCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA72)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb8kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb16kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb32kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb64kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb128kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb256kbps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtBillIncre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBtBillingUnittype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA81)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA82)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranStUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA90)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA91)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA92)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Bgan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2FB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Gsps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Fleet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2SwV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2AeroV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Iridium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2Thu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFb2OMes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA102)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranOtherUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA110)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA111)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA112)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSInBundleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbSMSSimCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbIsdnFax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsServType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsOrig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbTranSmsUsage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA125)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCMSIDNId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLesRegTCSimCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA129)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnEndFbPenalty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbCurBill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA132)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbGst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbPayTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA135)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA136)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA137)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA138)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NA139)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbIbvFmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFblayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbBillrecip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbInvPWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFEerrAdju)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBimSingle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBimDual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbMultiVce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbContStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbContEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBtartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnpFbEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbDataInBundleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbDataMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbDataSimardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbDataPlanIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVcePlanOPtLesRgn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbRecurFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbRecurFeeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbBilIncre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbunitType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA34)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranDUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA42)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA43)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA44)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA45)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA46)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA47)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA48)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA49)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2Fixed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2Cell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVc2Bgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2Fb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2Gpsp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2VceMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVce2Others)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVcebillincre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVceunitytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA59)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranVUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA67)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA68)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnStrInBundkeFbId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbStrMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbStrSimCardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA72)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb8kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb16kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb32kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb64kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb128kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb256kbps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBtBillIncre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBtBillingUnittype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA81)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA82)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranStUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA90)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA91)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA92)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2Bgan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2FB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2Gsps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2Fleet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2SwV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2AeroV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2Iridium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2Thu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFb2OMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA102)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranOtherUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA110)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA111)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA112)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbSMSInBundleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbSMSMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbSMSSimCardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbIsdnFax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsServType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsOrig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbTranSmsUsage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA125)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLesRegTCId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLesRegTCMSIDNId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLesRegTCSimCardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA129)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnEndFbPenalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbCurBill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA132)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbGst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbPayTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA135)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA136)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA137)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA138)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NA139)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbIbvFmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFblayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbBillrecip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbInvPWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFEerrAdju)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LesReg_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LesReg_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LesReg_ID })
        </td>
    </tr>
}

</table>
