﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtSPContract

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BsPtSPContract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesFbContStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesFbContStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesFbContEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesFbContEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBstartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBstartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBSusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBSusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBSusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBSusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBLayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesFBLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
