﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtSPContract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesFbContStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesFbContEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBstartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBSusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesFBLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesFbContStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesFbContEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBstartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBendDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBSusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBSusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBSusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBSusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBLayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesFBLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.spcID }) |
            @Html.ActionLink("Details", "Details", new { id=item.spcID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.spcID })
        </td>
    </tr>
}

</table>
