﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtCusServiceDest

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsPtCusServiceDest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusServiceTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusServiceTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusServiceSellerPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusServiceSellerPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusServDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusServDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusServAsDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusServAsDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCommunicationType.ComTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCommunicationType.ComTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtCustomer.Customers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtUnit.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtCusRegs_.BsPtCusRegFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtCusRegs_.BsPtCusRegFbContNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CusServDID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
