﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtCusServiceDest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusServiceTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusServiceSellerPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusServDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusServAsDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCommunicationType.ComTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtCusRegs_.BsPtCusRegFbContNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusServiceTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusServiceSellerPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusServDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusServAsDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCommunicationType.ComTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtUnit.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtCusRegs_.BsPtCusRegFbContNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CusServDID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CusServDID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CusServDID })
        </td>
    </tr>
}

</table>
