﻿@model FormUpdated.Models.demoNoonReport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>demoNoonReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoyageNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoyageNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VesselHeading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VesselHeading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageSpeed_At_Noons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageSpeed_At_Noons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forvoyagesincelastfullaway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forvoyagesincelastfullaway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFOForMainEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFOForMainEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFOForBoiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFOForBoiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MGOForMainEngine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MGOForMainEngine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MGOForAuxiliaryEngines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MGOForAuxiliaryEngines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MGOForBoiler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MGOForBoiler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOMainEnginesystem_Sump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOMainEnginesystem_Sump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOMainEnginesystem_StorageTank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOMainEnginesystem_StorageTank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isUpdated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
