﻿@model IEnumerable<FormUpdated.Models.demoNoonReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoyageNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VesselHeading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageSpeed_At_Noons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forvoyagesincelastfullaway)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFOForMainEngine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFOForBoiler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGOForMainEngine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGOForAuxiliaryEngines)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGOForBoiler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOMainEnginesystem_Sump)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOMainEnginesystem_StorageTank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isUpdated)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoyageNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VesselHeading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageSpeed_At_Noons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forvoyagesincelastfullaway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFOForMainEngine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFOForBoiler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGOForMainEngine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGOForAuxiliaryEngines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGOForBoiler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOMainEnginesystem_Sump)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOMainEnginesystem_StorageTank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isUpdated)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
