﻿    @{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>