﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BSt2A>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<style type="text/css">
    .panel-primary {
        width: 1500px;
    }

    .form-control-dd {
        display: inline !important;
        width: auto;
        height: 34px;
        margin: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }
</style>


<div class="book-examble panel panel-primary">
    <div class="panel-heading panel-head">
        INVOICES
    </div>

    <div id="progress" class="modal">
        <div class="center" align="center">
            <img src="~/Images/image-loader.gif" class="centerimg" />
        </div>
    </div>

    <div>

        @using (Html.BeginForm("Index", "Invoices", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="dropdown" style="display:inline;margin-bottom:10px;">

            <input type="button" id="btnGenInvoice" value="Generate Invoice" class="btn btn-success" />

            @Html.DropDownList("Years", new List<SelectListItem>
            {
               new SelectListItem{ Text="Years", Value="-1", Selected=true},
               new SelectListItem{ Text="2014", Value = "2014" },
               new SelectListItem{ Text="2015", Value = "2015" },
               new SelectListItem{ Text="2016", Value = "2016" },
               new SelectListItem{ Text="2017", Value = "2017" },
               new SelectListItem{ Text="2018", Value = "2018" },
               new SelectListItem{ Text="2019", Value = "2019" }
            }, "Select Year", new { @class = "form-control-dd" })

            @Html.DropDownList("Months", new List<SelectListItem>
           {
              new SelectListItem{ Text="Months", Value="-1", Selected=true},
              new SelectListItem{ Text="January", Value = "1" },
              new SelectListItem{ Text="February", Value = "2" },
              new SelectListItem{ Text="March", Value = "3" },
              new SelectListItem{ Text="April", Value = "4" },
              new SelectListItem{ Text="May", Value = "5" },
              new SelectListItem{ Text="June", Value = "6" },
              new SelectListItem{ Text="July", Value = "7" },
              new SelectListItem{ Text="August", Value = "8" },
              new SelectListItem{ Text="September", Value = "9" },
              new SelectListItem{ Text="October", Value = "10" },
              new SelectListItem{ Text="November", Value = "11" },
              new SelectListItem{ Text="December", Value = "12" }
           }, new { @class = "form-control-dd" })

            <input type="submit" value="Search" class="btn btn-default" />
        </div>
        }
    </div>

    <div id="tblEmpData">
        <table id="tbl" class="table table-bordered table-responsive table-hover">
            <tr>
                <th>
                    <input id="chkHeader" name="chkbox" type="checkbox" class="check" /> Invoices
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bt2CusFbIMSIId)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbMSIDNNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbSimIdNo)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbServType)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Bt2CusFbStartDate)
                </th>
                @*<th>
                        Description
                    </th>*@
                <th>
                    <input id="chkAllCalllLog" name="chkAllCalllLog" type="checkbox" class="check" /> CallLogs
                </th>
                <th>
                    <input id="chkAllRejection" name="chkAllRejection" type="checkbox" class="check" /> Rejection
                </th>
                <th>
                    Action
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.VesselCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerAddress)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.NA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbLesCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbCdrCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbSatType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbServType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbCDRRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbBillno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbBillPeriod)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbBillDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbRecurFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbCurBill)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.NA1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA2)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.NA3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA5)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA6)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA7)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbSimSingle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbSimDual)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbMultiVce)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA8)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA9)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbContNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbContStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CdrFbContEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CuspFbEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbTerm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA10)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA11)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA12)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NA13)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbCardFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbActFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bt2CusFbRgnFee)
                    </th>
                    <th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input id="chkRow" name="checkbox" type="checkbox" class="check" value="@item.Bst2A_ID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt2CusFbIMSIId)
                    </td>
                    @*<td>
                                  @Html.DisplayFor(modelItem => item.Bt2CusFbMSIDNNo)
                        </td>
                        <td>
                                  @Html.DisplayFor(modelItem => item.Bt2CusFbSimIdNo)
                        <td>
                              @Html.DisplayFor(modelItem => item.Bt2CusFbServType)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Bt2CusFbStartDate)
                    </td>
                    @*<td>
                            <label for="test">IMSIId  Exist</label>
                            <br />

                            <label for="test1">SimNo Exist</label>
                            <br />
                            <label for="test2">MSDNNo  Exist</label>
                            <br />
                            <label for="test3">Transaction Date is After LES Registeration Date</label>
                            <br />
                            <label for="test4">Transaction Date is After Barring Date</label>
                            <br />
                            <label for="test5">Transaction Date is After Suspension Date</label>
                            <br />

                        </td>*@
                    <td>
                        <input id="chkCalllLogRow" name="chkCalllLogRow" type="checkbox" class="check" value="@item.Bst2A_ID" />
                    </td>
                    <td>
                        <input id="chkRejectionRow" name="chkRejectionRow" type="checkbox" class="check" value="@item.Bst2A_ID" />
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.VesselCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerAddress)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbLesCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbCdrCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbSatType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbServType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbCDRRef)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbBillno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbBillPeriod)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbBillDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbRecurFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbCurBill)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NA1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA2)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NA3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA5)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA6)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA7)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbSimSingle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbSimDual)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbMultiVce)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA8)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA9)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbContNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbContStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CdrFbContEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbStartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CuspFbEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbTerm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA10)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA11)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA12)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NA13)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbCardFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbActFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bt2CusFbRgnFee)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Bst2A_ID }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Bst2A_ID }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Bst2A_ID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>

    <div>
        &nbsp;&nbsp;&nbsp;<button type="button" id="btnbill" class="btn btn-success"> Generate Invoice</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="btncallLog" class="btn btn-success">Download CallLogs</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="btnsave" class="btn btn-danger">Move to Rejection</button>
    </div>
</div>

@section Scripts {

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryUI")

    <script type="text/javascript">

        $(document).ready(function () {

            // Check All Invoices
            $("#tbl [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRow]").removeAttr("checked");
                }
            });

            // Check individual checkbox
            $("#tbl [id*=chkRow]").click(function () {
                if ($("#tbl [id*=chkRow]").length == $("#tbl [id*=chkRow]:checked").length) {
                    $("#tbl [id*=chkHeader]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkHeader]").removeAttr("checked");
                }
            });

            // Check all checkbox for Rejection
            $("#tbl [id*=chkAllRejection]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRejectionRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRejectionRow]").removeAttr("checked");
                }
            });

            // Check individual checkbox for Rejection
            $("#tbl [id*=chkRejectionRow]").click(function () {
                if ($("#tbl [id*=chkRejectionRow]").length == $("#tbl [id*=chkRejectionRow]:checked").length) {
                    $("#tbl [id*=chkAllRejection]").attr("checked", this.checked);
                }
                else {
                    $("#tbl [id*=chkAllRejection]").removeAttr("checked");
                }
            });

            // Check all checkbox for Call Log
            $("#tbl [id*=chkAllCalllLog]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkCalllLogRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkCalllLogRow]").removeAttr("checked");
                }
            });

            // Check individual checkbox for CallLog
            $("#tbl [id*=chkCalllLogRow]").click(function () {
                if ($("#tbl [id*=chkCalllLogRow]").length == $("#tbl [id*=chkCalllLogRow]:checked").length) {
                    $("#tbl [id*=chkAllCalllLog]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkAllCalllLog]").removeAttr("checked");
                }
            });


            $("#btnsave").click(function () {
                var lists = [];
                $.each($("input[name='chkRejectionRow']:checked"), function () {
                    lists.push($(this).val());

                });
                
                lists = JSON.stringify({ 'lists': lists });

                var chkCount = $("#tbl [id*=chkRejectionRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " Rejection.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $.ajax(
                    {
                        type: "post",
                        url: 'Index',
                        data: lists,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            alert("Checked Id Moved to Rejection Table");
                        },
                        error: function (e) {
                            alert("Error" + e.message);
                        }
                    })
            });

            $("#btncallLog").click(function () {
                var List = [];
                $.each($("input[id*=chkCalllLogRow]:checked"), function () {
                    List.push($(this).val());
                });
                List = JSON.stringify({ 'List': List });

                var chkCount = $("#tbl [id*=chkCalllLogRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount + " Call Logs.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $.ajax(
                    {
                        type: "POST",
                        url: "InvoiceCallLog",
                        data: List,
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json',
                        success: function (data) {
                            window.location = '/Invoices/Dwnload?fileGuid=' + data.FileGuid
                                + '&filename=' + data.FileName;
                        },
                        error: function (xhr, status, text) {
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    });
            });

            $("#btnbill").click(function () {
                GenerateInvoice();
            });

            $("#btnGenInvoice").click(function () {
                GenerateInvoice();
            });

            function GenerateInvoice() {
                var list = [];
                $.each($("input[name='checkbox']:checked"), function () {
                    list.push($(this).val());
                });

                list = JSON.stringify({ 'list': list });
                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount+" invoices.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");
                $.ajax(
                    {
                        url: '@Url.Action("GenerateInvoices", "Invoices")',
                        type: "POST",
                        data: list,
                        datatype: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            window.location = '/Invoices/Dwnload?fileGuid=' + data.FileGuid
                                + '&filename=' + data.FileName;
                            $(".modal").css("display", "none");
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                        }
                    });
            }
        });

    </script>
}

