﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BS2MtCusT>

@{
    /**/

    ViewBag.Title = "Invoice";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Layout_Search.cshtml";
}

<style type="text/css">
    .panel-primary {
        width: 1500px;
    }

    .form-control-dd {
        display: inline !important;
        width: auto;
        height: 34px;
        margin: 10px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        top: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
        display: none;
    }

    .center {
        z-index: 1000;
        margin: 50px auto;
        padding: 10px;
        height: 100%;
        width: 100%;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }

    .centerimg {
        height: 100%;
        width: 100%;
        display: inline-block;
        position: inherit;
    }
</style>

<div style="margin:10px;display:flex;justify-content:center;">

    <div class="panel panel-primary" style="float:left; width:250px;">
        <div class="panel-heading panel-head">
            Search
        </div>

        <div>
            <div id="accordion">

                <h1><a href="#1">Services</a></h1>
                <div>
                    <ul>
                        <li> Fleet One </li>
                        <li> FBB </li>
                        <li> Iridium Open Port </li>
                        <li> VSAT </li>
                    </ul>
                </div>

                <h1><a href="#2">Customers</a></h1>
                <div>
                    <ul>
                        <li> Demo </li>
                        <li> Test </li>
                    </ul>
                </div>

                <h1><a href="#3">Vessels</a></h1>
                <div>
                    <ul>
                        <li> Demo </li>
                        <li> Test </li>
                    </ul>
                </div>

                <h1><a href="#4">Data Plan</a></h1>
                <div>
                    <ul>
                        <li> 25 MB </li>
                        <li> 50 MB </li>
                        <li> 100 MB </li>
                        <li> 1 GB </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-primary" style="float:right;margin-left:5px;">
        <div class="panel-heading panel-head">
            INVOICES
        </div>

        <div id="progress" class="modal">
            <div class="center" align="center">
                <img src="~/Images/image-loader.gif" class="centerimg" />
            </div>
        </div>

        <div>

            @using (Html.BeginForm("Index", "Invoices", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="dropdown" style="display:inline;margin-bottom:10px;">

                <input type="button" id="btnGenInvoice" value="Generate Invoice" class="btn btn-success" />

                @Html.DropDownList("Years", new List<SelectListItem>
                {
                   new SelectListItem{ Text="Years", Value="-1", Selected=true},
                   new SelectListItem{ Text="2014", Value = "2014" },
                   new SelectListItem{ Text="2015", Value = "2015" },
                   new SelectListItem{ Text="2016", Value = "2016" },
                   new SelectListItem{ Text="2017", Value = "2017" },
                   new SelectListItem{ Text="2018", Value = "2018" },
                   new SelectListItem{ Text="2019", Value = "2019" }
                }, "Select Year", new { @class = "form-control-dd" })

                @Html.DropDownList("Months", new List<SelectListItem>
               {
                  new SelectListItem{ Text="Months", Value="-1", Selected=true},
                  new SelectListItem{ Text="January", Value = "1" },
                  new SelectListItem{ Text="February", Value = "2" },
                  new SelectListItem{ Text="March", Value = "3" },
                  new SelectListItem{ Text="April", Value = "4" },
                  new SelectListItem{ Text="May", Value = "5" },
                  new SelectListItem{ Text="June", Value = "6" },
                  new SelectListItem{ Text="July", Value = "7" },
                  new SelectListItem{ Text="August", Value = "8" },
                  new SelectListItem{ Text="September", Value = "9" },
                  new SelectListItem{ Text="October", Value = "10" },
                  new SelectListItem{ Text="November", Value = "11" },
                  new SelectListItem{ Text="December", Value = "12" }
               }, new { @class = "form-control-dd" })

                <input type="submit" value="Search" class="btn btn-default" />

            </div>
            }
        </div>

        <table id="tbl">
            <thead>
                <tr>
                    <th>
                        <input id="chkHeader" name="chkbox" type="checkbox" class="check" /> Invoices
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.BSMtCusLesCode)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BSMtCusCdrCode)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.BSMtCusSatType)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BSMtCusServDest)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.BSMtCusServType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusBillInce)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusUOM)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BSMtCusRecurFee)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.BSMtCusRecurFeeType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusCDRRef)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusBillNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusBillPeriod)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusBillDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusSimSingle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusSimDual)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusMultiVce)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusContNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusContStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusContEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusEndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusTerm)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusCardFee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusActFee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BSMtCusRgnFee)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.BsPtSPContract.BsPtlesFbContNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BsPtCusRegs_.BsPtCusRegFbContNo)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.BsMtCustomer.Customers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BsPtCusContract.BsPtCusFbContNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
                    </th>
                    @*<th></th>*@
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input id="chkRow" name="checkbox" type="checkbox" class="check" value="@item.BSMtCusTID" />
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.BSMtCusLesCode)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BSMtCusCdrCode)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.BSMtCusSatType)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BSMtCusServDest)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.BSMtCusServType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusBillInce)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusUOM)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BSMtCusRecurFee)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.BSMtCusRecurFeeType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusCDRRef)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusBillNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusBillPeriod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusBillDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusSimSingle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusSimDual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusMultiVce)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusContNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusContStart)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusContEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusEndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusTerm)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusCardFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusActFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BSMtCusRgnFee)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BptFbSim.BPtFBImImsi)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.BsPtSPContract.BsPtlesFbContNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BsPtCusRegs_.BsPtCusRegFbContNo)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.BsMtCustomer.Customers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BsPtCusContract.BsPtCusFbContNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id=item.BSMtCusTID }) |
                                @Html.ActionLink("Details", "Details", new { id=item.BSMtCusTID }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.BSMtCusTID })
                            </td>*@
                    </tr>
                }
            </tbody>

        </table>

        <div>
            <button type="button" id="btnbill" class="btn btn-success"> Generate Invoice</button>
        </div>
    </div>

</div>



@section Scripts {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/CSSjqueryUI")
    @Styles.Render("~/bundles/DataTableJqueryCSS")
    @Styles.Render("~/bundles/DataTableBootstrapCSS")

    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundle/jDataTable")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#tbl').DataTable();

            $(function () {
                $("#accordion").accordion({
                    collapsible: true
                });
            });

            // Check All Invoices
            $("#tbl [id*=chkHeader]").click(function () {
                if ($(this).is(":checked")) {
                    $("#tbl [id*=chkRow]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkRow]").removeAttr("checked");
                }
            });

            // Check individual checkbox
            $("#tbl [id*=chkRow]").click(function () {
                if ($("#tbl [id*=chkRow]").length == $("#tbl [id*=chkRow]:checked").length) {
                    $("#tbl [id*=chkHeader]").attr("checked", "checked");
                }
                else {
                    $("#tbl [id*=chkHeader]").removeAttr("checked");
                }
            });

            // Check all checkbox for Rejection
            //$("#tbl [id*=chkAllRejection]").click(function () {
            //    if ($(this).is(":checked")) {
            //        $("#tbl [id*=chkRejectionRow]").attr("checked", "checked");
            //    }
            //    else {
            //        $("#tbl [id*=chkRejectionRow]").removeAttr("checked");
            //    }
            //});

            // Check individual checkbox for Rejection
            //$("#tbl [id*=chkRejectionRow]").click(function () {
            //    if ($("#tbl [id*=chkRejectionRow]").length == $("#tbl [id*=chkRejectionRow]:checked").length) {
            //        $("#tbl [id*=chkAllRejection]").attr("checked", this.checked);
            //    }
            //    else {
            //        $("#tbl [id*=chkAllRejection]").removeAttr("checked");
            //    }
            //});

            // Check all checkbox for Call Log
            //$("#tbl [id*=chkAllCalllLog]").click(function () {
            //    if ($(this).is(":checked")) {
            //        $("#tbl [id*=chkCalllLogRow]").attr("checked", "checked");
            //    }
            //    else {
            //        $("#tbl [id*=chkCalllLogRow]").removeAttr("checked");
            //    }
            //});

            // Check individual checkbox for CallLog
            //$("#tbl [id*=chkCalllLogRow]").click(function () {
            //    if ($("#tbl [id*=chkCalllLogRow]").length == $("#tbl [id*=chkCalllLogRow]:checked").length) {
            //        $("#tbl [id*=chkAllCalllLog]").attr("checked", "checked");
            //    }
            //    else {
            //        $("#tbl [id*=chkAllCalllLog]").removeAttr("checked");
            //    }
            //});


            //$("#btnsave").click(function () {
            //    var lists = [];
            //    $.each($("input[name='chkRejectionRow']:checked"), function () {
            //        lists.push($(this).val());

            //    });

            //    lists = JSON.stringify({ 'lists': lists });

            //    var chkCount = $("#tbl [id*=chkRejectionRow]:checked").length;
            //    if (chkCount > 0)
            //        alert("You Checked " + chkCount + " Rejection.");
            //    else {
            //        alert("You not checked any checkboxes, please choose the checkbox.");
            //        return;
            //    }

            //    $.ajax(
            //        {
            //            type: "post",
            //            url: 'Index',
            //            data: lists,
            //            contentType: "application/json; charset=utf-8",
            //            datatype: 'json',
            //            success: function (data) {
            //                alert("Checked Id Moved to Rejection Table");
            //            },
            //            error: function (e) {
            //                alert("Error" + e.message);
            //            }
            //        })
            //});

            //$("#btncallLog").click(function () {
            //    var List = [];
            //    $.each($("input[id*=chkCalllLogRow]:checked"), function () {
            //        List.push($(this).val());
            //    });
            //    List = JSON.stringify({ 'List': List });

            //    var chkCount = $("#tbl [id*=chkCalllLogRow]:checked").length;
            //    if (chkCount > 0)
            //        alert("You Checked " + chkCount + " Call Logs.");
            //    else {
            //        alert("You not checked any checkboxes, please choose the checkbox.");
            //        return;
            //    }

            //    $.ajax(
            //        {
            //            type: "POST",
            //            url: "InvoiceCallLog",
            //            data: List,
            //            contentType: "application/json; charset=utf-8",
            //            datatype: 'json',
            //            success: function (data) {
            //                window.location = '/Invoices/Dwnload?fileGuid=' + data.FileGuid
            //                    + '&filename=' + data.FileName;
            //            },
            //            error: function (xhr, status, text) {
            //                var xhrsataus = xhr.status;
            //                alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
            //            }
            //        });
            //});

            $("#btnbill").click(function () {
                GenerateInvoice();
            });

            $("#btnGenInvoice").click(function () {
                GenerateInvoice();
            });

            function GenerateInvoice() {
                var list = [];
               // $.each($("input[name='checkbox']:checked"), function () {
                $.each($("#tbl [id*=chkRow]:checked"), function () {
                    list.push($(this).val());
                });

                list = JSON.stringify({ 'list': list });
                var chkCount = $("#tbl [id*=chkRow]:checked").length;
                if (chkCount > 0)
                    alert("You Checked " + chkCount+" invoices.");
                else {
                    alert("You not checked any checkboxes, please choose the checkbox.");
                    return;
                }

                $(".modal").css("display", "block");
                $.ajax(
                    {
                        url: '@Url.Action("DownloadInvoices", "Invoices")',
                        type: "POST",
                        data: list,
                        datatype: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.FileGuid == "0" && data.FileName == "SessionExpired") {
                                window.location = '@Url.Action("Login", "demoNoonReports", new { Area = ""})';
                            }
                            else {
                                window.location = '/Invoices/Dwnload?fileGuid=' + data.FileGuid
                                    + '&filename=' + data.FileName;
                            }
                            $(".modal").css("display", "none");
                        },
                        error: function (xhr, status, text) {
                            $(".modal").css("display", "none");
                            var xhrsataus = xhr.status;
                            alert("Error: xhr status: " + xhrsataus + " status: " + status + " text: " + text);
                            window.location = '@Url.Action("Login", "demoNoonReports", new { Area=""})';
                        }
                    });
            }
        });

    </script>
}

