﻿@model FormUpdated.Areas.BillingSystem.Models.BsPtSPLesReg

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BsPtSPLesReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesRegFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesRegFbContNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesRegStartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesRegStartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtlesRegEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtlesRegEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBCardFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBCardFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBActFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBActFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBRgnFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBRgnFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBMultiVce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBMultiVce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBDataPlanIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFBDataPlanIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbRecurFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbRecurFeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbInbundleDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbInbundleDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbOutBundleDataRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BPtLesRgnFbOutBundleDataRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBBarDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBBarDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFbBarDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFbBarDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBSusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBSusDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusMB_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBSusMB_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusUS_Lmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBSusUS_Lmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBLayUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpDateLifted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBLayUpDateLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpNosPerYr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBLayUpNosPerYr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtLesRegFBLayUpPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BptFbSim.BPtFBImImsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtServiceProvider.ServiceProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsMtUnit.Units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BsPtSPContract.BsPtlesFbContNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BsPtSPContract.BsPtlesFbContNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SPLesRegID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
