﻿@model IEnumerable<FormUpdated.Areas.BillingSystem.Models.BsPtSPLesReg>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BillingSystem/Views/Shared/_Loyout_BS.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesRegFbContNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesRegStartdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtlesRegEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBTerm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBCardFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBActFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBRgnFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBMultiVce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFBDataPlanIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbVcePlanOPtLesRgn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbRecurFeeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbInbundleDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BPtLesRgnFbOutBundleDataRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBBarDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFbBarDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusMB_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBSusUS_Lmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpDateLifted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpNosPerYr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtLesRegFBLayUpPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BptFbSim.BPtFBImImsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtServiceProvider.ServiceProvider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsMtUnit.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BsPtSPContract.BsPtlesFbContNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesRegFbContNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesRegStartdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtlesRegEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBTerm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBCardFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBActFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBRgnFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBMultiVce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFBDataPlanIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbVcePlanOPtLesRgn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbRecurFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbRecurFeeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbInbundleDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPtLesRgnFbOutBundleDataRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBBarDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFbBarDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBSusDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBSusDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBSusMB_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBSusUS_Lmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBLayUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBLayUpDateLifted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBLayUpNosPerYr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtLesRegFBLayUpPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BptFbSim.BPtFBImImsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtServiceProvider.ServiceProvider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsMtUnit.Units)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BsPtSPContract.BsPtlesFbContNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SPLesRegID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SPLesRegID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SPLesRegID })
        </td>
    </tr>
}

</table>
